.add-directions {
    padding: 550px 0 75px;
    background-color: $accent;
    color: #ffffff;
    background-image: url('../img/add-directions-bg.jpg');
    @include bg(1400px 400px, center 100px);
}

.add-directions__inner {
    display: flex;
    justify-content: space-between;
}

.add-directions__offer {
    margin-right: auto;
    max-width: 385px;
}

.add-directions__title,
.add-directions__link {
    margin-bottom: 40px;
    display: block;
    @extend %gilroy-600;
}

.add-directions__title {
    font-size: 24px;
}

.add-directions__intro,
.add-directions__text {
    @extend %gilroy-500;
}

.add-directions__content {
    max-width: 575px;
}

.add-directions__link {
    position: relative;
    margin-left: -35px;
    max-width: 260px;
    background-image: url('../img/follow-white.svg');
    text-decoration-color: #ffffff;

    &::before {
        z-index: 1;
    }
}

.add-directions__text {
    font-size: 14px;
}
