// blog-main

.blog-main {
    padding: 90px 0 68px;

    @include _1366 {
        padding: 50px 0 75px 25px;

        .top {
            margin-right: 25px;
        }
    }

    @include _1024 {
        .top__title {
            font-size: 32px;
        }
    }

    .top__link--mobile {
        display: none;
    }

    @include _630 {
        position: relative;
        padding: 50px 25px 115px;

        .top {
            margin-right: 0;
        }

        .top__title {
            font-size: 24px;
        }

        .top__link {
            display: none;
        }

        .top__link--mobile {
            display: block;
        }
    }
}

.blog-main__content {
    display: flex;
    align-items: flex-start;

    @include _630 {
        flex-direction: column;
    }
}

.blog-main__info {
    margin-right: 30px;
    max-width: 225px;
    width: 100%;

    @include _768 {
        margin-right: 0;
    }

    @include _630 {
        max-width: 100%;
    }
}

.blog-main__heading {
    margin-bottom: 135px;
    @extend %gilroy-500;
    font-size: 18px;

    @include _630 {
        margin-bottom: 20px;
        font-size: 16px;
    }
}

.blog-main__slider-nav {
    display: flex;

    @include _630 {
        position: absolute;
        bottom: 80px;
    }

    @include _414 {
        width: 84.5%;
        flex-direction: row-reverse;
    }
}

.blog-main__slider-counter {
    margin-right: 25px;
    color: $grey;

    .swiper-pagination-current {
        color: $text;
    }

    @include _414 {
        margin-right: 0;
        margin-left: auto;
    }
}

.blog-main__bullets {
    display: flex;
    align-items: center;
}

.blog-main__bullet {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.blog-main__slider {
    min-width: 0;
    max-width: 1183px;

    &::after {
        position: absolute;
        top: 45%;
        width: 74.6%;
        height: 1px;
        background-color: rgba(151, 159, 170, 0.5);
        content: '';

        @include _1024 {
            width: 65.6%;
        }

        @include _768 {
            width: 47.6%;
        }

        @include _630 {
            display: none;
        }
    }

    @include _630 {
        width: 100%;
    }
}

.blog-main__list {
    flex-direction: row !important;
}

// publication one

.publication {
    margin-top: 0 !important;
    margin-bottom: 47px;
    height: 180px;
    transition: filter 0.3s ease;

    &:hover {
        .publication__img {
            filter: grayscale(1);
        }

        .publication__title {
            color: $accent;
        }
    }

    @include _630 {
        margin-bottom: 30px;
    }
}

.publication__cover {
    display: block;
}

.publication__img {
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.publication__title,
.publication__excerpt {
    @extend %gilroy-500;
    font-size: 14px;
}

.publication__title,
.blog__name {
    margin-bottom: 5px;
    display: block;
    @include cut-text(1);
}

.publication__excerpt,
.blog__excerpt {
    color: $grey;
    @include cut-text(2);
}

// blog flow page

.blog {
    padding-bottom: 45px;

    @include _768 {
        padding-bottom: 15px;
    }
}

.blog__top {
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #c7cbd0;

    @include _979 {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.blog__title {
    margin-right: auto;

    @include _1024 {
        font-size: 32px;
    }

    @include _979 {
        margin-bottom: 20px;
    }

    @include _630 {
        font-size: 24px;
    }
}

.blog__descr {
    padding-bottom: 10px;
    max-width: 575px;
    width: 100%;
    font-size: 18px;
    @extend %gilroy-500;

    @include _979 {
        max-width: 100%;
    }

    @include _768 {
        font-size: 16px;
    }
}

.blog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog__item {
    margin-bottom: 45px;
    max-width: calc(25% - 15px);
    width: 100%;

    @include _979 {
        max-width: calc(33% - 15px);
    }

    @include _768 {
        max-width: calc(50% - 15px);
    }

    @include _630 {
        max-width: 100%;
    }

    &:hover {
        .blog__name {
            color: $accent;
        }

        .blog__img {
            filter: grayscale(1);
        }
    }
}

.blog__link {
    display: block;
}

.blog__img {
    margin-bottom: 10px;
    transition: filter 0.3s ease;
}

.blog__name {
    transition: color 0.3s ease;
}

.blog__name,
.blog__excerpt {
    font-size: 14px;
    @extend %gilroy-500;
}
