.conditions {
    padding: 40px 0 50px;

    @include _1024 {
        padding: 10px 0 50px;
    }
}

.conditions__top {
    margin-bottom: 60px;
    display: flex;
    align-items: center;

    @include _630 {
        flex-direction: column;
        align-items: flex-start;
    }
}

.conditions__title {
    margin-right: 120px;
    max-width: 475px;

    @include _1024 {
        margin-right: 80px;
        font-size: 32px;
    }

    @include _630 {
        margin-bottom: 30px;
        margin-right: 0;
        font-size: 24px;
    }
}

.conditions__descr,
.conditions__name {
    font-size: 24px;
    @extend %gilroy-600;
}

.conditions__descr {
    color: $green;

    @include _768 {
        font-size: 18px;
    }
}

.conditions__course {
    margin-bottom: 125px;

    @include _1366 {
        margin-bottom: 75px;
    }

    &--short {
        .conditions__text {
            &:first-child {
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #c7cbd0;
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.conditions__name {
    margin-bottom: 50px;
    color: $accent;
    text-decoration: underline;

    @include _768 {
        margin-bottom: 30px;
    }
}

.conditions__main {
    display: flex;

    @include _979 {
        flex-direction: column-reverse;
    }
}

.conditions__info {
    margin-right: auto;
    max-width: 475px;

    @include _1366 {
        margin-right: 50px;
    }

    @include _979 {
        margin-right: 0;
        max-width: 100%;
    }
}

.conditions__text {
    margin-bottom: 30px;
    font-size: 18px;
    @extend %gilroy-500;

    @include _630 {
        font-size: 16px;
    }

    &--grey {
        margin-bottom: 50px;
        color: $grey;
        font-size: 14px;

        @include _979 {
            margin-bottom: 40px;
        }
    }

    &--litle {
        margin-bottom: 25px;
        font-size: 14px;
    }
}

.conditions__questionnaire {
    padding: 13.5px 100px 13.5px 20px;

    @include _414 {
        width: 100%;
        padding: 13.5px 20px;
    }

    &:hover {
        background-image: url('../img/decor-icons/plus-icon-white.svg');
    }
}

.conditions__requires {
    max-width: 575px;
    width: 100%;

    @include _979 {
        margin-bottom: 40px;
        max-width: 100%;
    }
}

.conditions__list {
    margin-bottom: 50px;

    @include _979 {
        margin-bottom: 40px;
    }
}

.conditions__item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1px solid #c7cbd0;

    &:last-child {
        margin-bottom: 0;
    }
}

.conditions__label {
    @extend %gilroy-600;

    @include _1366 {
        margin-right: 25px;
    }

    @include _630 {
        font-size: 16px;
    }
}

.conditions__date {
    @extend %gilroy-500;

    @include _1366 {
        width: max-content;
        text-align: right;
    }

    @include _630 {
        font-size: 16px;
    }
}

.conditions__docs-title {
    margin-bottom: 20px;
    display: block;
    @extend %gilroy-600;
    font-size: 24px;
}

.conditions__doc-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.conditions__doc {
    position: relative;
    margin-bottom: 30px;
    padding-top: 60px;
    max-width: 47%;
    width: 100%;
    font-size: 14px;
    @extend %gilroy-500;

    @include _768 {
        max-width: 100%;
    }

    @include _630 {
        padding-top: 0;
        padding-left: 60px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;

        border: 1px solid #dadde0;
        border-radius: 50%;
        content: '';
    }

    &--quiz {
        &::before {
            background-image: url('../img/decor-icons/blank-icon.svg');
            @include bg(17px 20px, center);
        }
    }

    &--copy {
        &::before {
            background-image: url('../img/decor-icons/education-icon.svg');
            @include bg(20px 16px, center);
        }
    }

    &--photo {
        &::before {
            background-image: url('../img/decor-icons/avatar-icon.svg');
            @include bg(18px, center);
        }
    }

    &--pasport {
        &::before {
            background-image: url('../img/decor-icons/passport-icon.svg');
            @include bg(17px 20px, center);
        }
    }
}
