.contacts__inner {
    padding-bottom: 95px;

    @include _1024 {
        padding-bottom: 50px;
    }
}

.contacts__content {
    margin-bottom: 50px;
    display: flex;

    @include _979 {
        flex-direction: column;
    }
}

.contacts__left {
    margin-right: auto;

    @include _1366 {
        margin-right: 25px;
    }

    @include _979 {
        margin-bottom: 30px;
        margin-right: 0;
    }
}

.contacts__right {
    @include _1366 {
        margin-left: auto;
    }

    @include _979 {
        margin-left: initial;
    }

    @include _630 {
        iframe {
            width: 100% !important;
            height: auto !important;
        }
    }
}

.contacts__title {
    margin-bottom: 5px;

    &--thanks {
        font-size: 32px;
    }

    @include _1024 {
        font-size: 32px;
    }

    @include _630 {
        font-size: 24px;
    }
}

.contacts__phone {
    margin-bottom: 50px;
    display: block;
    font-size: 36px;
    color: $green;

    @include _1024 {
        font-size: 24px;
    }

    @include _979 {
        margin-bottom: 35px;
    }
}

.contacts__middle {
    display: flex;
    justify-content: space-between;

    @include _1366 {
        flex-direction: column;
    }
}

.contacts__email {
    color: $accent;
    font-size: 24px;
    @extend %gilroy-500;
    text-decoration: underline;

    @include _1366 {
        margin-bottom: 25px;
    }

    &:hover {
        text-decoration: none;
    }
}

.contacts__heading {
    font-size: 24px;
    @extend %gilroy-600;
}

.contacts__text {
    margin-bottom: 20px;
    color: $grey;
    font-size: 18px;
    @extend %gilroy-500;

    &:last-child {
        margin-bottom: 0;
    }
}

.contacts__press {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #979faa;
    display: flex;
    justify-content: space-between;

    @include _630 {
        flex-direction: column;
    }
}

.contacts__head {
    @include _630 {
        margin-bottom: 20px;
        display: block;
    }
}

.contacts__socials {
    display: flex;

    @include _630 {
        flex-wrap: wrap;
    }
}

.contacts__social {
    margin-right: 70px;
    @extend %grotesk-400;
    text-transform: uppercase;
    font-size: 24px;

    @include _630 {
        margin-bottom: 15px;
    }

    &:last-child {
        margin-right: 0;
    }
}

.contacts__link {
    transition: color 0.3s ease;

    &:hover {
        color: $accent;
    }
}

.contacts__info {
    display: flex;

    @include _979 {
        flex-wrap: wrap;
    }
}

.contacts__questions {
    margin-right: 25px;
    max-width: 370px;
    width: 100%;
    font-size: 14px;
    @extend %gilroy-500;
}

.contacts__connection {
    margin-right: auto;
    font-size: 24px;
    @extend %gilroy-600;

    @include _768 {
        margin-top: 15px;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.contacts__mail {
    margin-top: 3px;
    font-size: 14px;

    a {
        color: $accent;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.contacts__logo {
    margin: 0 auto;
    max-width: 160px;
    width: 100%;
    object-fit: cover;

    @include _979 {
        margin-top: 25px;
    }
}
