.connections {
    position: relative;
    padding: 50px 0 175px;
    background-image: url('../img/decor-icons/decor-connections.jpg');
    @include bg(275px 150px, left calc(100% - 67px));

    @include _1366 {
        padding: 50px 0;
        background-image: none;
    }
}

.connections__title {
    margin-bottom: 50px;

    @include _1024 {
        margin-bottom: 40px;
        font-size: 32px;
    }

    @include _630 {
        font-size: 24px;
    }
}

.connections__content {
    display: flex;

    @include _979 {
        flex-direction: column;
    }
}

.connections__half {
    &:first-child {
        margin-right: 40px;
        max-width: 530px;

        @include _979 {
            margin-bottom: 50px;
            margin-right: 0;
            max-width: 100%;
        }
    }

    &:last-child {
        max-width: 575px;

        @include _979 {
            max-width: 100%;
        }
    }
}

.connections__text {
    margin-bottom: 20px;
    @extend %gilroy-500;
    font-size: 18px;

    @include _1024 {
        font-size: 16px;
    }

    &--accent,
    &--green {
        font-size: 24px;
        @extend %gilroy-600;

        @include _1024 {
            font-size: 18px;
        }
    }

    &--accent {
        color: $accent;
    }

    &--green {
        color: $green;
    }

    &--grey {
        color: $grey;
        font-size: 14px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.connections-decor {
    position: absolute;
    left: calc(50% + 10px);
    bottom: 67px;
    right: 0;
    padding: 25px 0;
    display: flex;
    background-color: $accent;

    @include _1366 {
        display: none;
    }
}

.connections-decor-item {
    margin-right: 30px;
    width: 100px;
    height: 100px;
    font-size: 0;
    background-image: url('../img/decor-icons/decor-cross-white.svg');
    cursor: pointer;

    &:hover {
        background-image: url('../img/decor-icons/decor-cross-green.svg');
    }
}
