.courses {
    padding-bottom: 100px;

    @include _630 {
        padding-bottom: 50px;
    }
}

.courses__title {
    margin-bottom: 50px;
    font-size: 47px;

    @include _1024 {
        font-size: 32px;
    }

    @include _630 {
        font-size: 24px;
    }
}

.courses__list {
    margin-bottom: 65px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'a b c c'
        'd d e f';

    @include _1024 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include _630 {
        margin-bottom: 50px;
    }
}

.extra-courses__title {
    margin-bottom: 20px;
    font-size: 24px;
    @extend %gilroy-600;
}

.extra-courses__list {
    margin-bottom: 50px;

    @include _630 {
        margin-bottom: 35px;
    }
}

.extra-course {
    margin-bottom: 50px;
    padding-top: 20px;
    display: flex;
    border-top: 1px solid #c7cbd0;

    @include _630 {
        margin-bottom: 30px;
        flex-wrap: wrap;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.extra-course__duration {
    margin-right: 20px;
    max-width: 180px;
    width: 100%;
    font-size: 12px;
    @extend %gilroy-700;

    @include _630 {
        margin-bottom: 30px;
    }
}

.extra-course__total {
    display: block;
    @extend %gilroy-500;
}

.extra-course__excerpt {
    max-width: 275px;
    width: 100%;
}

.extra-course__type {
    margin-bottom: 25px;
    display: block;
    color: $accent;
    text-transform: uppercase;
}

.extra-course__name {
    max-width: 90%;
    text-transform: uppercase;
    font-size: 14px;
    @extend %gilroy-500;
}

.extra-course__descr {
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
    font-size: 12px;

    @include _630 {
        margin: 0;
        margin-top: 30px;
        max-width: 100%;
    }
}

.extra-course__title {
    @extend %gilroy-700;
}

.extra-course__subtitle {
    margin-bottom: 20px;
    display: block;
    @extend %gilroy-500;
}

.extra-course__text {
    margin-bottom: 20px;
    @extend %gilroy-500;

    &:last-child {
        margin-bottom: 0;
    }
}

.extra-course__img {
    max-width: 280px;
    width: 100%;
    height: 160px;
    object-fit: cover;

    @include _979 {
        display: none;
    }
}

.extra-course__btn {
    padding: 13.5px 56px 13.5px 20px;

    @include _414 {
        padding: 13.5px 20px;
        width: 100%;
    }
}
