.events {
    &--study {
        padding: 80px 0 70px;

        @include _1024 {
            padding: 50px 0;
        }

        .events__title {
            margin-bottom: 20px;
            font-size: 24px;
            @extend %gilroy-600;
            text-align: left;

            @include _1024 {
                font-size: 18px;
            }

            @include _979 {
                margin-bottom: 30px;
            }
        }

        .container {
            text-align: right;
        }

        .slider-events {
            padding-top: 20px;
            text-align: left;
            border-top: 1px solid #c7cbd0;
        }

        .slider-events__wrapper {
            margin-bottom: 50px;

            @include _630 {
                margin-bottom: 30px;
            }
        }

        .slider-events__nav {
            margin: 0 auto;
            max-width: 375px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .slider-events__counter {
            color: $grey;

            .swiper-pagination-current {
                color: $text;
            }
        }

        .slider-events__prev,
        .slider-events__next {
            background-image: url('../img/decor-icons/slider-arrow.svg');
        }

        .events__link {
            margin: 0 30px 10px 0;
            display: block;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.events__title {
    margin-bottom: 50px;

    @include _1024 {
        margin-bottom: 40px;
        font-size: 32px;
    }

    @include _630 {
        margin-bottom: 30px;
        font-size: 24px;
    }
}

.events__main {
    padding-bottom: 75px;
    text-align: center;

    @include _1024 {
        padding-bottom: 50px;
    }
}

.events__categories-box {
    @include _979 {
        overflow-x: auto;
    }
}

.events__categories {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c7cbd0;
    display: flex;
    text-align: left;

    @include _979 {
        width: 979px;
    }
}

.events__category {
    position: relative;
    margin-right: 70px;
    max-width: 220px;
    font-size: 14px;
    @extend %gilroy-600;
    text-transform: uppercase;
    color: $grey;

    @include _768 {
        margin-right: 45px;
    }

    &::after {
        position: absolute;
        bottom: -23px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $green;
        content: '';
        display: none;
    }

    &--active {
        color: $text;

        .events__total {
            color: $grey;
        }

        &::after {
            display: block;
        }
    }

    &:last-child {
        margin-right: 0;
    }
}

.events__total {
    position: absolute;
    top: -20px;
    left: -35px;
    @extend %gilroy-500;

    @include _1366 {
        left: -20px;
    }
}

.events__content {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include _979 {
        margin-bottom: 20px;
    }
}

// event

.event {
    margin-bottom: 50px;
    max-width: calc(33% - 40px / 3);
    text-align: left;

    @include _768 {
        margin-bottom: 30px;
        max-width: calc(50% - 40px / 2);
    }

    @include _414 {
        max-width: 100%;
    }

    &:first-child {
        max-width: 100%;

        .event__link {
            display: flex;

            @include _768 {
                flex-direction: column;
            }
        }

        .event__img {
            margin: 0 20px 0 0;

            @include _1366 {
                max-width: 60%;
            }

            @include _768 {
                margin-bottom: 10px;
                margin-right: 0;
                max-width: 100%;
                width: 100%;
            }
        }

        .event__top {
            margin-bottom: 30px;

            @include _768 {
                margin-bottom: 10px;
            }
        }

        .event__title {
            margin-bottom: 20px;
            font-size: 24px;
            @extend %gilroy-600;

            @include _768 {
                margin-bottom: 15px;
            }

            @include _414 {
                margin-bottom: 0;
                font-size: 16px;
            }
        }

        .event__excerpt {
            display: block;

            @include _414 {
                display: none;
            }
        }
    }

    &:hover {
        .event__title {
            color: $accent;
        }

        .event__img {
            filter: grayscale(1);
        }
    }
}

.event__link {
    display: block;
}

.event__img {
    margin-bottom: 10px;
    transition: filter 0.3s ease;
}

.event__top {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: $grey;
    @extend %gilroy-500;
    font-size: 12px;
}

.event__title {
    font-size: 18px;
    @extend %gilroy-600;
    transition: color 0.3s ease;

    @include _768 {
        font-size: 16px;
    }
}

.event__excerpt {
    display: none;
    color: $grey;
    font-size: 14px;
    @extend %gilroy-500;
}

.event__btn {
    &:hover {
        text-decoration: underline;
    }
}

.slide-events__img {
    margin-bottom: 10px;
    max-width: 377px;
    width: 100%;
    height: 400px;
    object-fit: cover;

    @include _979 {
        height: auto;
    }
}

.slide-events__descr {
    font-size: 12px;
    color: $grey;
    @extend %gilroy-500;
}

.events-main {
    padding: 90px 0 50px;

    .top__link--mobile {
        display: none;
    }

    @include _1366 {
        padding: 55px 25px 0;
    }

    @include _979 {
        .top__title {
            font-size: 32px;
        }
    }

    @include _630 {
        .top__title {
            font-size: 24px;
        }

        .top__link {
            display: none;

            &--mobile {
                display: block;
            }
        }
    }
}

.events-main__content {
    margin-bottom: 70px;
    display: flex;

    @include _979 {
        flex-direction: column;
    }
}

.events-main__mobile-box {
    margin-right: 120px;
    padding-top: 17px;
    max-width: 280px;
    width: 100%;

    @include _979 {
        overflow-x: auto;
        max-width: 100%;
    }
}

.events-main__categories {
    @include _979 {
        margin-bottom: 30px;
        padding-left: 25px;
        display: flex;
        width: 979px;
    }
}

.events-main__category {
    position: relative;
    margin-bottom: 48px;

    @include _979 {
        margin-bottom: 0;
        margin-right: 50px;
        min-width: 250px;
    }

    @include _414 {
        min-width: 190px;
    }
}

.events-main__total {
    position: absolute;
    left: -24px;
    top: -16px;
    font-size: 14px;
    @extend %gilroy-500;
    color: $grey;
}

.events-main__btn {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
    font-size: 14px;
    color: $grey;
    text-transform: uppercase;
    @extend %gilroy-600;
    text-align: left;
    border-bottom: 5px solid transparent;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #c7cbd0;
        content: '';
    }

    &.tabs__btn--active {
        color: $text;
        border-bottom: 5px solid #19191c;

        &::after {
            background-color: transparent;
        }
    }
}

.events-main__sliders {
    min-width: 0;
}

.events-main__slider {
    @include _979 {
        max-width: 100%;
    }
}

.events-main__wrapper {
    margin-bottom: 50px;
}

.events-main__hover {
    &:hover {
        .events-main__title {
            color: $accent;
        }
    }
}

.events-main__img {
    margin-bottom: 10px;
    height: 350px;
    object-fit: cover;
}

.events-main__info {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: $grey;
    font-size: 12px;
    @extend %gilroy-500;
}

.events-main__title {
    font-size: 18px;
    @extend %gilroy-600;
    transition: color 0.3s ease;
}

.events-main__navigation {
    max-width: 365px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.events-main__prev,
.events-main__next {
    background-image: url('../img/decor-icons/slider-arrow.svg');
}

.events-main__counter {
    color: $grey;

    .swiper-pagination-current {
        color: $text;
    }
}
