.header {
    margin-bottom: 5.625rem;
    padding-top: 1.875rem;
    color: $black;
    font-size: 14px;
}

.header .container {
    max-width: 1733px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 4rem;
    max-width: 12.875rem;
    text-transform: uppercase;
}

.header__menu-btn {
    margin-right: 2.2rem;
    font-size: 0;
}

.header__lang {
    margin-right: 0.815rem;
    padding: 0.315rem;
    border: none;
    color: $accent;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    appearance: none;
}

.header__burger {
    display: none;
}

.header__programs {
    margin-right: 7rem;
    max-width: 10rem;
    color: $grey;
    @extend %gilroy-600;
    text-transform: uppercase;
}

.menu {
    display: flex;
}

.menu a {
    padding: 10px 20px;
    @extend %gilroy-500;
    border-radius: 5.625rem;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    transition: background-color 0.3s ease;
    font-style: italic;
    background-color: #dcdfe2;
}
