.hero {
    background-image: url('../img/hero-decor-3.png'),
        url('../img/hero-decor-4.png'), url('../img/hero-decor-5.png');
    background-repeat: no-repeat;
    background-position: 5.8% bottom, 17.5% bottom, 88.5% bottom;
    background-size: 185px 500px, 150px 170px, 150px 348px;

    @include _1440 {
        background-image: none;
    }

    @include _768 {
        .button-wrapper {
            text-align: center;
        }
    }
}

.hero__inner {
    background-image: url('../img/hero-decor-2.png');
    @include bg(475px 351px, right 92px);

    @include _979 {
        padding-bottom: 110px;
        @include bg(425px 310px, right 135px);
    }

    @include _768 {
        padding-bottom: 50px;
        background-image: none;
    }
}

.hero__title {
    margin-bottom: 35px;
    font-size: 40px;

    @include _979 {
        font-size: 32px;
    }

    @include _768 {
        margin-bottom: 0;
        padding-bottom: 116px;
        text-align: center;
        font-size: 24px;
        background-image: url('../img/hero-mobile.jpg');
        @include bg(327px 163px, center 60px);
    }

    @include _630 {
        padding-bottom: 80px;
    }

    @include _414 {
        font-size: 18px;
    }
}

.hero__content {
    display: flex;
    justify-content: space-between;

    @include _979 {
        flex-direction: column-reverse;
    }
}

.hero__decor {
    position: relative;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 312px;
    max-width: 673px;
    width: 100%;
    background-image: url('../img/hero-decor-1.png');
    @include bg(150px 170px, right 57px);

    &::before,
    &::after {
        position: absolute;
        content: '';
    }

    &::before {
        top: 0;
        background-color: #979faa;
        height: 1px;
        width: 100%;
    }

    &::after {
        top: -2.5px;
        right: 0;
        width: 178px;
        height: 5px;
        background-color: #8bc540;
    }

    @include _979 {
        padding: 0;
        background-image: none;

        &::before,
        &::after {
            display: none;
        }
    }

    @include _768 {
        margin-right: 0;
        max-width: 100%;
    }
}

.hero__link {
    padding: 13.5px 106px;

    @include _1366 {
        padding: 13.5px 50px 13.5px 20px;
    }

    @include _768 {
        max-width: 327px;
        width: 100%;
    }
}

.hero__descr-wrapper {
    max-width: 475px;
    width: 100%;

    @include _768 {
        max-width: 100%;
    }
}

.hero__descr {
    padding-top: 255px;
    @extend %gilroy-500;
    max-width: 385px;

    @include _979 {
        margin-bottom: 50px;
        padding-top: 30px;
    }

    @include _768 {
        margin: 0 auto 50px;
        padding-top: 20px;
        max-width: 327px;
    }
}
