.licenses__inner {
    padding: 65px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #c7cbd0;

    @include _1024 {
        flex-direction: column;
        padding: 50px 0 125px;
    }

    @include _768 {
        padding: 50px 0;
    }
}

.license__wrapper {
    display: flex;
    align-items: center;

    @include _1024 {
        flex-direction: column-reverse;
    }

    @include _1024 {
        margin-bottom: 50px;
        align-items: flex-end;
    }

    @include _768 {
        align-items: flex-start;
    }
}

.license {
    max-width: 377px;
    width: 100%;
    &--small {
        max-width: 277px;

        @include _1024 {
            margin-top: -512px;
        }

        @include _768 {
            margin-top: 0;
        }
    }
}

.license__img {
    margin-bottom: 20px;
    object-fit: cover;
}

.license__descr {
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    color: $grey;
    @extend %gilroy-500;
}

.license__link {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.licenses__content {
    margin-left: 120px;
    max-width: 355px;

    @include _1366 {
        margin-left: 30px;
    }

    @include _1024 {
        margin-left: 0;
        max-width: 100%;
    }

    @include _1024 {
        margin-bottom: 50px;
    }
}

.licenses__title {
    margin-bottom: 30px;
    max-width: 270px;
    font-size: 24px;
    @extend %gilroy-600;

    @include _1024 {
        margin-bottom: 20px;
    }
}

.licenses__descr {
    font-size: 18px;
    @extend %gilroy-500;

    @include _630 {
        font-size: 16px;
    }
}
