.programs {
    padding: 100px 0 50px;

    @include _1024 {
        padding: 50px 0;
    }
}

.programs__top {
    margin-bottom: 50px;
    display: flex;

    @include _979 {
        flex-direction: column;
    }
}

.programs__intro {
    @include _979 {
        margin-bottom: 30px;
    }
}

.programs__title {
    margin-bottom: 50px;

    @include _1024 {
        margin-bottom: 40px;
        font-size: 32px;
    }

    @include _630 {
        margin-bottom: 30px;
        font-size: 24px;
    }
}

.programs__choose {
    padding: 13px 80px 13px 20px;
    appearance: none;
    background-image: url('../img/decor-icons/choosen-icon.svg');
    @include bg(20px 14px, calc(100% - 20px));
    cursor: pointer;

    @include _414 {
        padding: 13px 20px;
        width: 100%;
    }

    &:focus-visible {
        outline: transparent;
    }
}

.programs__info {
    max-width: 575px;

    @include _979 {
        max-width: 100%;
    }
}

.programs__subtitle {
    margin-bottom: 20px;
    color: $green;
    font-size: 24px;
    @extend %gilroy-600;

    @include _630 {
        font-size: 18px;
    }
}

.programs__attention {
    max-width: 395px;
    font-size: 18px;
    @extend %gilroy-500;

    @include _979 {
        max-width: 100%;
    }

    @include _630 {
        font-size: 16px;
    }
}
