.programs {
    padding: 100px 0 50px;
}

.programs__top {
    margin-bottom: 50px;
    display: flex;
}

.programs__title {
    margin-bottom: 50px;
}

.programs__choose {
    padding: 13px 80px 13px 20px;
    appearance: none;
    background-image: url('../img/decor-icons/choosen-icon.svg');
    @include bg(20px 14px, calc(100% - 20px));
    cursor: pointer;

    &:focus-visible {
        outline: transparent;
    }
}

.programs__info {
    max-width: 575px;
}

.programs__subtitle {
    margin-bottom: 20px;
    color: $green;
    font-size: 24px;
    @extend %gilroy-600;
}

.programs__attention {
    max-width: 395px;
    font-size: 18px;
    @extend %gilroy-500;
}
