.schedule {
    padding: 50px 0 95px;
    background-color: $text;
    color: #ffffff;
}

.schedule__title {
    margin-bottom: 65px;

    span {
        color: $green;
    }

    @include _1024 {
        margin-bottom: 45px;
        font-size: 32px;
    }

    @include _630 {
        font-size: 24px;
    }
}

.schedule__item {
    margin-bottom: 45px;
    padding: 0 65px 10px 0;
    display: flex;
    border-bottom: 1px solid #585c63;

    &:last-child {
        margin-bottom: 0;
    }

    @include _979 {
        padding: 0 0 10px 0;
    }

    @include _630 {
        flex-wrap: wrap;
    }
}

.schedule__duration {
    max-width: 515px;
    width: 100%;
    display: flex;
    align-items: center;

    @include _630 {
        justify-content: space-between;
        color: $grey;
    }

    .schedule__label {
        margin-right: 0;
        display: block;
        margin-left: auto;
        max-width: 230px;
        width: 100%;

        @include _630 {
            margin-bottom: 0;
            margin-left: 0;
            font-size: 14px;
        }
    }
}

.schedule__label {
    margin-right: auto;
    font-size: 14px;
    @extend %gilroy-600;
    text-transform: uppercase;

    @include _979 {
        max-width: 250px;
        width: 100%;
    }

    @include _630 {
        margin-bottom: 25px;
        font-size: 16px;
    }
}

.schedule__total {
    font-size: 24px;
    @extend %gilroy-600;
    text-transform: uppercase;

    @include _979 {
        max-width: 190px;
        width: 100%;
    }

    @include _768 {
        max-width: 150px;
        font-size: 18px;
    }

    @include _630 {
        font-size: 14px;
    }
}
