.structure {
    position: relative;
    background-color: #dcdfe2;
}

.structure__list {
    padding: 50px 0 90px;
    display: flex;
    flex-wrap: wrap;
    counter-reset: structure;

    @include _979 {
        padding: 50px 0;
    }
}

.structure__item {
    position: relative;
    margin-bottom: 25px;
    padding: 25px 120px 20px 0;
    max-width: 33%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    @extend %gilroy-600;
    text-transform: uppercase;
    border-bottom: 1px solid #babfc6;

    @include _1366 {
        padding: 25px 80px 20px 0;
    }

    @include _979 {
        max-width: 48%;
    }

    @include _630 {
        max-width: 100%;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        counter-increment: structure;
        content: '0' counter(structure) '/';

        color: $grey;
    }

    &--one {
        &::before {
            top: 20px;

            @include _979 {
                top: 0;
            }
        }
    }

    &::after {
        position: absolute;
        bottom: 25px;
        right: 120px;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        background-image: url('../img/follow.svg');
        content: '';

        @include _1366 {
            right: 80px;
        }

        @include _979 {
            right: 40px;
        }

        @include _630 {
            right: 20px;
        }
    }
}

.structure__decor {
    position: absolute;
    bottom: 10%;
    right: 3%;
    display: flex;
    font-size: 0;

    @include _1366 {
        display: none;
    }
}

.structure__decor-item {
    margin-right: 30px;
    width: 100px;
    height: 100px;
    background-image: url('../img/decor-icons/decor-cross-white.svg');
    cursor: pointer;

    &:hover {
        background-image: url('../img/decor-icons/decor-cross-green.svg');
    }

    &:last-child {
        margin-right: 0;
    }
}
