.works {
    position: relative;
    padding: 100px 0;

    &::before,
    &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        content: '';
    }

    &::before {
        z-index: 1;
        height: 360px;
        background-image: url('../img/pattern.png');

        @include _979 {
            background-image: none;
        }
    }

    &::after {
        height: 490px;
        background-color: #dcdfe2;

        @include _1440 {
            display: none;
        }
    }

    @include _1440 {
        background-color: #dcdfe2;
    }

    @include _1024 {
        padding: 55px 15px 50px;
    }
}

.works__title {
    position: relative;
    z-index: 2;
    max-width: 1110px;
    margin: 0 auto 40px;

    span {
        color: $accent;
    }

    @include _1024 {
        font-size: 32px;
    }

    @include _630 {
        margin-bottom: 60px;
        font-size: 24px;
    }
}

.works-slider__wrapper {
    margin-bottom: 40px;
    padding-left: 40px;

    @include _1024 {
        padding-left: 0;
    }

    @include _979 {
        margin-bottom: 50px;
    }
}

.works-slide {
    transform: translateX(-285px);

    @include _1366 {
        transform: none;
    }

    &.swiper-slide-next + .works-slide + .works-slide {
        .works-slide__img-box {
            position: relative;
            cursor: grab;
            &::after {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    270deg,
                    #dcdfe2 38.35%,
                    rgba(220, 223, 226, 0) 100%
                );
                content: '';

                @include _1366 {
                    display: none;
                }
            }
        }
    }

    &.swiper-slide-active {
        transform: translateX(0);
        filter: grayscale(1);

        @include _1366 {
            filter: none;
        }

        .works-slide__img-box {
            transition: transform 0.5s ease;
            position: relative;
            transform: translate(-143px, -74px) scale(0.54);
            cursor: auto;

            @include _1366 {
                transform: none;
            }

            &::after {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                        90deg,
                        #dcdfe2 -14.34%,
                        rgba(220, 223, 226, 0) 100%
                    ),
                    linear-gradient(0deg, #edeff1, #edeff1),
                    linear-gradient(
                        0deg,
                        rgba(89, 89, 89, 0.7),
                        rgba(89, 89, 89, 0.7)
                    );
                opacity: 0.8;
                content: '';

                @include _1366 {
                    display: none;
                }
            }
        }
    }

    @include _979 {
        display: flex;
        flex-direction: column-reverse;
    }
}

.works-slide__name {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    color: $grey;
    @extend %gilroy-500;

    @include _979 {
        margin-bottom: 0;
    }
}

.works-slide__img-box {
    cursor: url('../img/portfolio-cursor.png'), pointer;

    @include _979 {
        margin-bottom: 20px;
    }
}

.works-slide__img {
    width: 100%;
}

.works-slide__navigation {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include _979 {
        justify-content: center;
    }
}

.works-slide__bullets {
    display: flex;

    @include _979 {
        display: none;
    }
}

.works-slide__bullet {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.works-slide__arrows {
    width: max-content;
    display: flex;
    align-items: center;

    @include _414 {
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
    }
}

.works-slide__prev,
.works-slide__next {
    background-image: url('../img/decor-icons/slider-arrow.svg');
}

.works-slide__counter {
    margin-right: 90px;
    color: $grey;

    .swiper-pagination-current {
        color: $text;
    }

    @include _414 {
        margin-right: 0;
    }
}

.works-slide__prev {
    margin-right: 90px;
    transform: rotate(180deg);

    @include _414 {
        margin-right: 0;
    }
}
