html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
q,
b,
u,
i,
ol,
ul,
li,
form,
label,
footer,
header,
nav,
section,
button,
input,
textarea,
dd {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer,
header,
nav,
section {
    display: block;
}

input,
textarea {
    color: inherit;
    white-space: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 174, 255, 0.04) 50%,
        rgba(255, 255, 255, 0) 51%,
        rgba(0, 174, 255, 0.03) 100%
    );
}

ul,
ol {
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: 'Gilroy', sans-serif;
    color: $text;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
    background-color: #f7f7f7;
    cursor: url('../img/decor-icons/plus-icon-accent.svg'), pointer;

    &.touch {
        .success-slide__link {
            opacity: 1;
            visibility: visible;
        }

        .success-slide__avatar-box {
            border-color: $accent;

            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.lock {
        overflow: hidden;
    }
}

.container {
    @include container(1170px);
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1200px;
}

.title {
    @extend %grotesk-400;
    font-size: 48px;
}

.button {
    position: relative;
    display: inline-block;
    @extend %gilroy-600;
    font-size: 14px;
    color: $accent;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid $accent;
    border-radius: 90px;

    &--follow,
    &--follow-clear {
        background-image: url('../img/follow.svg');
    }

    &--follow {
        @include bg(15px, calc(100% - 20px));
    }

    &--follow-clear {
        padding-right: 28px;
        border: none;

        @include bg(15px, calc(100% - 3px));
    }

    &--more {
        background-image: url('../img/decor-icons/plus-icon-accent.svg');
        @include bg(20px, calc(100% - 20px));
    }
}

.follow {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;

    &::after {
        position: absolute;
        right: -28px;
        top: 50%;
        transform: translateY(-56%);
        width: 18px;
        height: 18px;
        background-image: url('../img/decor-icons/plus-icon.svg');
        content: '';
    }

    &--accent {
        color: $accent;

        &::after {
            background-image: url('../img/decor-icons/plus-icon-accent.svg');
        }
    }

    &--blur {
        padding-left: 35px;
        @include bg(15px, left center);
        text-decoration: underline;
        @extend %gilroy-600;

        &::after {
            background-image: none;
        }

        &::before {
            position: absolute;
            z-index: -1;
            left: -27px;
            top: -27px;
            width: 100px;
            height: 100px;
            background-image: url('../img/decor-blur.png');
            @include bg();
            content: '';
            transition: transform 1s ease, text-decoration 0.3s ease;
        }

        &:hover {
            text-decoration-color: transparent;
            &::before {
                transform: scale(0);
            }
        }
    }

    &--download {
        padding-left: 70px;
        color: $accent;
        text-decoration: underline;

        &::after {
            background-image: none;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-image: url('../img/download-icon.svg');
            content: '';
        }

        &:hover {
            text-decoration: none;
        }
    }

    &--arrow {
        padding-left: 35px;
        color: $accent;
        text-decoration: underline;

        &::after {
            background-image: none;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            background-image: url('../img/follow.svg');
            @include bg(15px);
            content: '';
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.slider-prev,
.slider-next {
    display: block;
    min-width: 68px;
    height: 21px;
    background-size: 68px 21px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    cursor: pointer;

    &.swiper-button-disabled {
        opacity: 0.5;
    }
}

.slider-counter {
    width: max-content;
    font-size: 14px;
    @extend %gilroy-600;

    .swiper-pagination-current {
        font-size: 24px;
    }
}

.slider-prev {
    transform: rotate(180deg);
}

.slider-bullet {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.3s;

    &::before,
    &::after {
        position: absolute;
        background-color: #c7cbd0;
        content: '';
        transition: background-color 0.3s;
    }

    &::before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
    }

    &::after {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        width: 100%;
    }

    &.active {
        transform: rotate(45deg);

        &::before,
        &::after {
            background-color: $green;
        }
    }
}
