<section class="about">
	<div class="container">
		<div class="about__inner">
			<div class="about__top">
				<div class="about__info">
					<h1 class="about__title title">
						Об академии
					</h1>

					<p class="about__descr">
						Образовательный центр, специализирующийся на международном образовании в области садового искусства и
						ландшафтного
						строительства.
					</p>
				</div>

				<p class="about__offer">
					Стремимся поддерживать высокое качество обучения, сочетая авторские программы ведущих российских и зарубежных
					педагогов
					с международным опытом в образовании
				</p>
			</div>

			<div class="about__mission">
				<span class="about__heading">Миссия</span>

				<p class="about__excerpt">
					Международная Академия Садового Искусства формирует новую модель образования в сфере ландшафтного искусства в
					России.
				</p>

				<p class="about__text">
					Данная модель нацеленную на воспитание думающих, компетентных и ответственных профессионалов,
					подготовленных на
					международном уровне и интегрированных в мировой процесс создания объектов садового искусства.
				</p>

			</div>
		</div>
	</div>
</section>