<section class="account">
	<div class="container">

		<div class="account__inner">
			<div class="account__promo">
				<h2 class="account__title title">Личный кабинет</h2>

				<img class="account__img" src="img/account/account-2.jpg" alt="Скриншоты личного кабинета">
			</div>

			<div class="account__info">
				<span class="account__heading">
					В электронной системе Академии
				</span>

				<div class="account__content">
					<p class="account__text">
						Для каждого обучающегося предусмотрено использование личного кабинета в электронной системе Академии.
					</p>

					<p class="account__text">
						Это позволяет сделать процесс обучения технологически удобным.
					</p>
				</div>

				<ul class="account__images">
					<li class="account__one">
						<img class="account__img" src="img/account/account-3.jpg" alt="img">
					</li>

					<li class="account__one">
						<img class="account__img" src="img/account/account-2.jpg" alt="img">
					</li>

					<li class="account__one">
						<img class="account__img" src="img/account/account-4.jpg" alt="img">
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>