<section class="add-directions">
	<div class="container">
		<div class="add-directions__inner" style="background-image: url('images/add-directions.jpg');">
			<div class="add-directions__offer">
				<span class="add-directions__title">
					Дополнительные направления
				</span>
				<p class="add-directions__intro">
					В дополнение к основным направлениям деятельности МАЛИСЭП предлагает своим абитуриентам:
				</p>
			</div>
			<div class="add-directions__content">
				<a class="add-directions__link" href="#">
					Учебные краткосрочные курсы интенсивы
				</a>
				<p class="add-directions__text">
					Разработанные в рамках российского стандарта дополнительного образования и предназначенные для непрерывного
					развития
					практикующих ландшафтных архитекторов и специалистов смежных профессий.
				</p>
			</div>
		</div>
	</div>
</section>