<section class="addmition">
	<div class="container">
		<div class="addmition__inner">
			<div class="addmition__content">
				<h1 class="addmition__title">
					<span>Поступление</span> и обучение
				</h1>

				<ul class="addmition__items">
					<li class="addmition__item">
						<span class="addmition__name">Дни открытых дверей</span>

						<p class="addmition__descr">
							Отличная возможность побывать в пространстве Академии, познакомиться с преподавателями и получить ответы
							на интересующие
							вас вопросы.
						</p>

						<a class="addmition__link" href="#">
							узнать расписание
						</a>
					</li>

					<li class="addmition__item">
						<span class="addmition__name">Образовательные программы</span>

						<p class="addmition__descr">
							Высокая эффективность образовательных программ позволяет за короткий промежуток времени достичь значимых
							результатов и
							повысить профессиональный уровень.
						</p>

						<a class="addmition__link" href="#">
							смотреть программы
						</a>
					</li>
				</ul>


			</div>

			<div class="addmition__sidebar">
				<a class="addmition__conditions" href="#">
					Условия поступления
				</a>

				<ul class="addmition__list">
					<li class="addmition__list-item">
						<a class="addmition__list-link" href="#">
							Центр информационных ресурсов
						</a>
					</li>

					<li class="addmition__list-item">
						<a class="addmition__list-link" href="#">
							Cвязи с индустрией
						</a>
					</li>

					<li class="addmition__list-item">
						<a class="addmition__list-link" href="#">
							Государственная лицензия
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>