<section class="advantages">
	<div class="container">
		<div class="advantages__inner">
			<div class="advantages__decor">
				Уникальность
			</div>

			<div class="advantages__runline">
				<span class="advantages__runline-text">
					МАЛИСЭП
				</span>
			</div>

			<ul class="advantages__list">
				<li class="advantage advantage--international">
					Международные <br> стандарты образования
				</li>
				<li class="advantage advantage--extend">
					Расширение <br> образовательных программ
				</li>
				<li class="advantage advantage--teachers">
					Лучшие <br> преподаватели
				</li>
				<li class="advantage advantage--service">
					Сервисы и ресурсы
				</li>
				<li class="advantage advantage--industry">
					Связи с индустрией
				</li>
				<li class="advantage advantage--portfolio">
					Портфолио
				</li>
				<li class="advantage advantage--diplom">
					Диплом профессионального <br> дополнительного образования
				</li>
			</ul>

		</div>
	</div>
</section>