<section class="advantages">
	<div class="container">
		<div class="advantages__inner">
			<div class="advantages__decor">
				Уникальность
			</div>

			<div class="advantages__runline">
				МАЛИСЭП
			</div>

			<ul class="advantages__list">
				<li class="advantage advantage--international">
					Международные стандарты образования
				</li>
				<li class="advantage">
					Сервисы и ресурсы
				</li>
				<li class="advantage">
					Диплом профессионального дополнительного образования
				</li>
				<li class="advantage">
					Расширение образовательных программ
				</li>
				<li class="advantage">
					Связи с индустрией
				</li>
				<li class="advantage">
					Лучшие преподаватели
				</li>
				<li class="advantage">
					Портфолио
				</li>
			</ul>

		</div>
	</div>
</section>