<section class="big-banner">

	<div class="big-banner__top">
		<h2 class="big-banner__title">
			Формируем новую модель ландшафтного образования в России
			<span class="big-banner__descr">
				Нацеленную на воспитание думающих, компетентных и ответственных профессионалов, подготовленных на высочайшем
				международном уровне и интегрированных в мировой садовый процесс
			</span>
		</h2>
	</div>

	<div class="big-banner__runline">
		<div class="big-banner__decor">
			Картинка
		</div>
	</div>

	<div class="big-banner__offers">
		<p class="big-banner__offer">
			Академия нацелена на воспитание творчески мыслящих, социально ответственных и компетентных профессионалов.
		</p>
		<p class="big-banner__offer">
			Мы поддерживаем творческий эксперимент, профессиональную дискуссию и самостоятельность студентов.
		</p>
	</div>

	<div class="big-banner__content">
		<p class="big-banner__text">
			Привлекаем к преподаванию, обсуждению и оценке Ваших проектов ведущих международных специалистов, ради
			формирования нового уровня социальной ответственной в проектной работе перед конечным пользователем объектами
			ландшафтной архитектуры.
		</p>

		<a class="big-banner__follow" href="#">
			выбрать направление
		</a>
	</div>

	<div class="big-banner__runline"></div>

	<p class="big-banner__text">
		Для воплощения фундаментальных ценностей садового искусства: обучаем новому пониманию искусства и работе с его
		инструментами
	</p>

</section>