<section class="big-banner">

	<div class="container">
		<h2 class="big-banner__title title">
			<div class="big-banner__title-box">
				<span class="big-banner__title-accent">Формируем новую модель</span> ландшафтного образования в России
			</div>
			<span class="big-banner__descr">
				Нацеленную на воспитание думающих, компетентных и ответственных профессионалов, подготовленных на высочайшем
				международном уровне и интегрированных в мировой садовый процесс
			</span>
		</h2>
	</div>


	<div class="big-banner__runline">
		<span>Формируем новую модель ландшафтного образования в России</span>
		<span>Формируем новую модель ландшафтного образования в России</span>
		<span>Формируем новую модель ландшафтного образования в России</span>
		<div class="big-banner__runline-decor">
		</div>
	</div>


	<div class="container">
		<div class="big-banner__offers">
			<p class="big-banner__offer">
				Академия нацелена на воспитание творчески мыслящих, социально ответственных и компетентных профессионалов.
			</p>
			<p class="big-banner__offer">
				Мы поддерживаем творческий <br> эксперимент, профессиональную <br> дискуссию и самостоятельность студентов.
			</p>
		</div>

		<div class="big-banner__content">
			<p class="big-banner__text">
				Привлекаем к преподаванию, обсуждению и оценке Ваших проектов ведущих международных специалистов, ради
				формирования нового уровня социальной ответственной в проектной работе перед конечным пользователем объектами
				ландшафтной архитектуры.
			</p>

			<a class="big-banner__follow follow follow--blur" href="#">
				выбрать направление
			</a>
		</div>
	</div>




	<div class="big-banner__runline big-banner__runline--small">
		<span>Обучаем применению передовых технологий проектирования и строительства</span>
		<span>Обучаем применению передовых технологий проектирования и строительства</span>
		<span>Обучаем применению передовых технологий проектирования и строительства</span>
	</div>

	<div class="container">
		<p class="big-banner__add-text">
			Для воплощения фундаментальных ценностей садового искусства:
			<span>обучаем новому пониманию искусства и работе с его
				инструментами</span>
		</p>
	</div>

</section>