<section class="blog">

	<div class="container">

		<div class="blog__top">
			<h1 class="blog__title title">
				Публикации
			</h1>

			<span class="blog__descr">
				Открытия и результаты научных работ сделанные нашими преподавателями, и сучениками
			</span>
		</div>

		<ul class="blog__list">
			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>

			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>

			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>

			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>

			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>

			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>

			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>

			<li class="blog__item">
				<a class="blog__link" href="#">
					<img class="blog__img" src="img/project-1.jpg" alt="blog img">

					<span class="blog__name">Заголовок</span>

					<p class="blog__excerpt">
						Цитата в две строки Цитата в две строки Цитата в две строки
					</p>
				</a>
			</li>
		</ul>

	</div>

</section>