<section class="blog-one">
	<div class="container">

		<div class="blog-one__top">
			<h1 class="blog-one__title title">
				Заголовок публикации в две строки
			</h1>

			<span class="blog-one__quote">
				Архитектура — выразительница нравов. Архитектурный облик здания, который вызывает у нас чувство, соответствующее
				его назначению, это и есть стиль. (цитата)
			</span>
		</div>

		<div class="blog-one__main">
			<div class="blog-one__content">
				<h2>
					Yet for other people, the seeds of dementia can sprout frighteningly early in life.
				</h2>

				<p>
					Signs of Alzheimer’s
					disease, the
					most common form of dementia, typically start to appear in a person’s mid-sixties, if they show up at all.
					More
					than 6.2
					million Americans over 65 deal with Alzheimer’s as do more than 50 million people globally. But the gradual
					accumulation
					of damage in the brain is thought to begin 10 years or more before symptoms appear. Early-onset Alzheimer’s, a
					less
					common type that seems to have a stronger genetic component, can begin to show up in a person’s thirties.
					Regardless of
					when it starts, dementia’s early signs can be subtle and hard to distinguish from brain farts we all
					experience
					now and
					then: forgetting a name or an appointment or struggling to pull up just the right word we know is buried
					somewhere in
					the mind. As these symptoms increase, a person is likely to struggle with reason and judgment, all of which
					can
					lead to
					frustration and intense negative emotions.
				</p>
			</div>

			<div class="blog-one__info">
				<div class="blog-one__line">
					<div class="blog-one__author">
						<img class="blog-one__avatar" src="" alt="avatar">

						<div class="blog-one__resume">
							Автор:
							<span class="blog-one__name">
								Дарина вонголевская
							</span>
						</div>
					</div>

					<div class="blog-one__date">
						28/08/21
					</div>
				</div>

				<img class="blog-one__img" src="img/managment-1.jpg" alt="image">

				<div class="blog-one__navigations">
					<a class="blog-one__next" href="#">
						Следующая публикация
					</a>

					<div class="nav-arrows"></div>
				</div>
			</div>
		</div>

	</div>
</section>