<section class="blog">
	<div class="top">
		<h2 class="top__title">
			Публикации
		</h2>

		<a class="top__link" href="#">
			смотреть все публикации
		</a>
	</div>

	<div class="blog__content">
		<div class="blog__info">
			<h3 class="blog__heading">
				Открытия и результаты научных работ
			</h3>

			<div class="blog__slider-nav">

			</div>
		</div>

		<ul class="blog__list">
			<li class="publication">
				<a class="publication__cover" href="#">
					<img class="publication__img" src="img/publication-1.jpg" alt="image">
					<span class="publication__title">Заголовок</span>
					<p class="publication__excerpt">Цитата в две строки Цитата в две строки</p>
				</a>
			</li>
		</ul>
	</div>
</section>