<section class="contacts">
	<div class="container">
		<div class="contacts__inner">

			<div class="contacts__content">
				<div class="contacts__left">
					<h1 class="contacts__title title">
						Хотите учиться?
					</h1>

					<a class="contacts__phone title" href="tel:79257557891">+7(925)755-78-91</a>

					<div class="contacts__middle">
						<a class="contacts__email" href="mailto:info@art.ru">
							info@art.ru
						</a>

						<div class="contacts__address">
							<span class="contacts__heading">
								Контакты
							</span>

							<p class="contacts__text">
								г. Москва, ул. Искусств, 8
							</p>

							<p class="contacts__text">
								10:00 _ 20:00 <br>
								Воскресенье _ выходной день
							</p>
						</div>
					</div>
				</div>

				<div class="contacts__right">
					<iframe src="https://yandex.ru/map-widget/v1/-/CCUuaBRRCD" width="575" height="400"
						style="position:relative;border:0;"></iframe>
				</div>

			</div>




			<div class="contacts__bottom">
				<div class="contacts__press">
					<span class="contacts__head">
						Для прессы
					</span>

					<ul class="contacts__socials">
						<li class="contacts__social">
							<a class="contacts__link" href="#">
								Facebook
							</a>
						</li>

						<li class="contacts__social">
							<a class="contacts__link" href="#">
								instagram
							</a>
						</li>
					</ul>
				</div>

				<div class="contacts__info">
					<p class="contacts__questions">
						По всем вопросам взаимодействия с пресс-службой МАСИ обращайтесь по телефону:
					</p>

					<div class="contacts__connection">
						<a href="#">+7(925)755-78-91</a>
						<div class="contacts__mail">
							И электронной почте:
							<a href="#">info@iaga.ru</a>
						</div>
					</div>

					<img class="contacts__logo" src="img/logo_contacs.png" alt="logo">
				</div>
			</div>
		</div>
	</div>
</section>