<section class="connections">
	<div class="container">
		<h2 class="connections__title title">Связи с индустрией</h2>

		<div class="connections__content">
			<div class="connections__half">
				<p class="connections__text">
					Среди партнеров Академии – ландшафтные компании, студии и бюро, девелоперы, культурные фонды, музеи и средства
					массовой
					информации
				</p>

				<p class="connections__text">
					Партнерство позволяет Академии формировать образовательные программы исходя из потребностей индустрии и
					предоставлять
					студентам все необходимое для эффективного обучения и практики.
				</p>

				<p class="connections__text">
					Взаимодействия с коллегами- профессионалами и
					специалистами смежных областей, студенты обмениваются опытом и получают актуальный опыт при выполнении
					реальных задач.
				</p>
			</div>

			<div class="connections__half">
				<p class="connections__text">
					Цель Академии — престижное и высокооплачиваемое трудоустройство выпускников
				</p>

				<p class="connections__text">
					Это становится возможным благодаря
					тесному
					взаимодействию с компаниями, заинтересованными в высококлассных специалистах в области творческих дисциплин
				</p>

				<p class="connections__text">
					Студенты, работающие на свой бизнес, становятся более конкурентными благодаря выходу на новый профессиональный
					уровень
				</p>
			</div>
		</div>
	</div>
</section>