<section class="conditions" id="conditions">
	<div class="container">
		<div class="conditions__top">
			<h2 class="conditions__title title">
				Условия поступления
			</h2>

			<span class="conditions__descr">
				Пожалуйста, внимательно ознакомьтесь <br>
				с условиями поступления на <br>
				заинтересовавшую вас программу
			</span>
		</div>

		<div class="conditions__content">
			<ul class="conditions__courses">
				<li class="conditions__course">
					<h3 class="conditions__name">
						Базовый курс
					</h3>

					<div class="conditions__main">
						<div class="conditions__info">
							<p class="conditions__text">
								Если вы уже определились с тем, на какой программе вы хотели бы пройти обучение, то в качестве
								следующего шага
								необходимо заполнить электронную анкету-заявление.
							</p>

							<p class="conditions__text">
								В процессе заполнения вам потребуется указать паспортные и контактные
								данные, а также предоставить сведения о вашем образовательном и профессиональном опыте.
							</p>

							<p class="conditions__text conditions__text--grey">
								На ряд программ предусмотрено
								прохождение вступительных испытаний: просмотр портфолио и собеседование. Вам необходимо выбрать даты
								экзаменационного
								потока, в котором вам будет удобно пройти вступительные испытания.
							</p>

							<div class="button-wrapper conditions__questionnaire-wrapper">
								<a class="conditions__questionnaire button button--more blob-btn" href="#">
									заполнить анкету
									<span class="blob-btn__inner">
										<span class="blob-btn__blobs">
											<span class="blob-btn__blob"></span>
											<span class="blob-btn__blob"></span>
											<span class="blob-btn__blob"></span>
											<span class="blob-btn__blob"></span>
										</span>
									</span>
								</a>
								<br />
								<svg class="blob-svg" xmlns="http://www.w3.org/2000/svg" version="1.1">
									<defs>
										<filter id="goo-questionnaire-1">
											<fegaussianblur in="SourceGraphic" result="blur" stddeviation="10"></fegaussianblur>
											<fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
												result="goo">
											</fecolormatrix>
											<feblend in2="goo" in="SourceGraphic" result="mix"></feblend>
										</filter>
									</defs>
								</svg>
							</div>
						</div>

						<div class="conditions__requires">
							<ul class="conditions__list">
								<li class="conditions__item">
									<span class="conditions__label">Прием документов на базовый курс:</span>
									<span class="conditions__date">с 1 марта по 20 сентября</span>
								</li>

								<li class="conditions__item">
									<span class="conditions__label">Начало занятий:</span>
									<span class="conditions__date">1 октября</span>
								</li>
							</ul>

							<div class="conditions__docs">
								<span class="conditions__docs-title">
									Необходимые документы
								</span>

								<ul class="conditions__doc-list">
									<li class="conditions__doc conditions__doc--quiz">
										Анкета-заявление <br> (заполняется в электронном виде)
									</li>

									<li class="conditions__doc conditions__doc--copy">
										Копия документа о высшем <br> профессиональном образовании
									</li>

									<li class="conditions__doc conditions__doc--photo">
										2 фотографии <br> размером 3х4
									</li>

									<li class="conditions__doc conditions__doc--pasport">
										Паспорт (предъявляется при <br> подаче документов)
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>

				<li class="conditions__course conditions__course--short">
					<h3 class="conditions__name">
						Постдипломный курс / Краткосрочные курсы
					</h3>

					<div class="conditions__main">
						<div class="conditions__info">
							<p class="conditions__text">
								Программы российского дополнительного профессионального образования предназначены для слушателей,
								окончивших базовый
								курс, имеющих высшее образование и желающих пройти переподготовку, освоить новые специальности и
								расширить свои
								карьерные возможности.
							</p>

							<p class="conditions__text conditions__text--litle">
								В качестве вступительных испытаний на программы дополнительного образования предусмотрено собеседование.
							</p>

							<p class="conditions__text conditions__text--litle">
								Приемной
								комиссии важно оценить уровень мотивации каждого абитуриента при освоении новой специальности.
							</p>

							<p class="conditions__text conditions__text--grey">
								Поэтому
								во время интервью
								вам могут задать вопросы, имеющие отношение к личным качествам, видению собственного развития,
								образовательному и
								профессиональному опыту, чтобы понять возможные перспективы в выбранной профессии
							</p>

							<div class="button-wrapper conditions__questionnaire-wrapper">
								<a class="conditions__questionnaire button button--more blob-btn" href="#">
									заполнить анкету
									<span class="blob-btn__inner">
										<span class="blob-btn__blobs">
											<span class="blob-btn__blob"></span>
											<span class="blob-btn__blob"></span>
											<span class="blob-btn__blob"></span>
											<span class="blob-btn__blob"></span>
										</span>
									</span>
								</a>
								<br />
								<svg class="blob-svg" xmlns="http://www.w3.org/2000/svg" version="1.1">
									<defs>
										<filter id="goo-questionnaire-2">
											<fegaussianblur in="SourceGraphic" result="blur" stddeviation="10"></fegaussianblur>
											<fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
												result="goo">
											</fecolormatrix>
											<feblend in2="goo" in="SourceGraphic" result="mix"></feblend>
										</filter>
									</defs>
								</svg>
							</div>
						</div>

						<div class="conditions__requires">
							<ul class="conditions__list">
								<li class="conditions__item">
									<span class="conditions__label">Прием документов на базовый курс:</span>
									<span class="conditions__date">за 2 месяца до начала курса</span>
								</li>

								<li class="conditions__item">
									<span class="conditions__label">Начало занятий:</span>
									<span class="conditions__date">публикуется заранее</span>
								</li>
							</ul>

							<div class="conditions__docs">
								<ul class="conditions__doc-list">
									<li class="conditions__doc conditions__doc--quiz">
										Анкета-заявление (заполняется в электронном виде)
									</li>

									<li class="conditions__doc conditions__doc--copy">
										Копия документа о высшем профессиональном образовании
									</li>

									<li class="conditions__doc conditions__doc--photo">
										2 фотографии размером 3х4
									</li>

									<li class="conditions__doc conditions__doc--pasport">
										Паспорт (предъявляется при подаче документов)
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>