<section class="courses">
	<div class="container">
		<h2 class="courses__title">
			Образовательные программы академии
		</h2>

		<ul class="courses__list">
			<li class="course">
				<div class="course__descr">
					<span class="course__name">
						«Садовое искусство. Постдипломный курс»
					</span>

					<span class="course__status">
						Магистр Садового Искусства
					</span>

					<div class="course__faculty">
						Факультет:
						<span class="course__faculty-name">Сад и Урбанизм</span>
						<span class="course__faculty-name">Garden ang Urbanism</span>
					</div>

					<div class="course__duration">
						2 года
						<span class="course__month">октябрь - май</span>
					</div>
				</div>

				<div class="course__image">
					декоративная картинка
				</div>
			</li>

			<li class="course">
				<div class="course__descr">
					<span class="course__name">
						«Садовое Искусство. Базовый курс»
					</span>

					<span class="course__status">
						Эксперт Садового Искусства
					</span>

					<div class="course__faculty">
						Факультет:
						<span class="course__faculty-name">Сад и Арт</span>
					</div>

					<div class="course__duration">
						1 год
						<span class="course__month">октябрь - май</span>
					</div>
				</div>

				<div class="course__image" style="background-image: url();">
					декоративная картинка
				</div>
			</li>

			<li class="course">
				<div class="course__descr">
					<span class="course__name">
						«Садовое Искусство. Базовый курс»
					</span>

					<span class="course__status">
						Эксперт Садового Искусства
					</span>

					<div class="course__faculty">
						Факультет:
						<span class="course__faculty-name">Сад и Арт</span>
					</div>

					<div class="course__duration">
						1 год
						<span class="course__month">октябрь - май</span>
					</div>
				</div>

				<div class="course__image" style="background-image: url();">
					декоративная картинка
				</div>
			</li>

			<li class="course">
				<div class="course__descr">
					<span class="course__name">
						«Садовое Искусство. Базовый курс»
					</span>

					<span class="course__status">
						Эксперт Садового Искусства
					</span>

					<div class="course__faculty">
						Факультет:
						<span class="course__faculty-name">Сад и Арт</span>
					</div>

					<div class="course__duration">
						1 год
						<span class="course__month">октябрь - май</span>
					</div>
				</div>

				<div class="course__image" style="background-image: url();">
					декоративная картинка
				</div>
			</li>

			<li class="course">
				<div class="course__descr">
					<span class="course__name">
						«Садовое Искусство. Базовый курс»
					</span>

					<span class="course__status">
						Эксперт Садового Искусства
					</span>

					<div class="course__faculty">
						Факультет:
						<span class="course__faculty-name">Сад и Арт</span>
					</div>

					<div class="course__duration">
						1 год
						<span class="course__month">октябрь - май</span>
					</div>
				</div>

				<div class="course__image" style="background-image: url();">
					декоративная картинка
				</div>
			</li>

			<li class="course">
				<div class="course__descr">
					<span class="course__name">
						«Садовое Искусство. Базовый курс»
					</span>

					<span class="course__status">
						Эксперт Садового Искусства
					</span>

					<div class="course__faculty">
						Факультет:
						<span class="course__faculty-name">Сад и Арт</span>
					</div>

					<div class="course__duration">
						1 год
						<span class="course__month">октябрь - май</span>
					</div>
				</div>

				<div class="course__image" style="background-image: url();">
					декоративная картинка
				</div>
			</li>
		</ul>

		<div class="extra-courses">
			<h3 class="extra-courses__title">
				Дополнительные направления
			</h3>

			<ul class="extra-courses__list">
				<li class="extra-course">
					<div class="extra-course__duration">
						Продолжительность:
						<span class="extra-course__total">3 месяца</span>
					</div>

					<div class="extra-course__excerpt">
						<span class="extra-course__type">
							Интенсив
						</span>
						<p class="extra-course__name">
							по узкой дисциплине или компьютерной графике (заголовок)
						</p>
					</div>

					<div class="extra-course__descr">
						<span class="extra-course__title">
							Кому подойдет: очная вечерняя, выездная
						</span>

						<p class="extra-course__text">
							практикующим специалистам, окончившим базовый курс
						</p>

						<p class="extra-course__text">
							Сертификат об окончании курса-интенсива
						</p>

						<span class="extra-course__title">
							Форма обучения:
						</span>

						<p class="extra-course__text">
							очная вечерняя, выездная
						</p>
					</div>

					<img class="extra-course__img" src="" alt="image">
				</li>

				<li class="extra-course">
					<div class="extra-course__duration">
						Продолжительность:
						<span class="extra-course__total">3 месяца</span>
					</div>

					<div class="extra-course__excerpt">
						<span class="extra-course__type">
							Интенсив
						</span>
						<p class="extra-course__name">
							по узкой дисциплине или компьютерной графике (заголовок)
						</p>
					</div>

					<div class="extra-course__descr">
						<span class="extra-course__title">
							Кому подойдет: очная вечерняя, выездная
						</span>

						<p class="extra-course__text">
							практикующим специалистам, окончившим базовый курс
						</p>

						<p class="extra-course__text">
							Сертификат об окончании курса-интенсива
						</p>

						<span class="extra-course__title">
							Форма обучения:
						</span>

						<p class="extra-course__text">
							очная вечерняя, выездная
						</p>
					</div>

					<img class="extra-course__img" src="" alt="image">
				</li>
			</ul>

			<button class="extra-course__btn" type="button">
				Показать еще направления
			</button>
		</div>

	</div>
</section>