<section class="events events--study">
	<div class="container">

		<h2 class="events__title">
			Наши выпускники принимают активное участие в городских проектах и тендерах, представляют свои работы на выставках,
			обсуждают наработки на международных конференциях, участвуют в выездных мероприятиях
		</h2>

		<a class="events__link follow follow--accent" href="#">
			Смотреть все события
		</a>

		<div class="slider-events swiper">
			<ul class="slider-events__wrapper swiper-wrapper">
				<li class="slide-events swiper-slide">
					<a class="slide-events__hover" href="#">
						<img class="slide-events__img" src="img/project-1.jpg" alt="slider img">
						<p class="slide-events__descr">Городской проект “Парки Москвы”</p>
					</a>
				</li>

				<li class="slide-events swiper-slide">
					<a class="slide-events__hover" href="#">
						<img class="slide-events__img" src="img/project-2.jpg" alt="slider img">
						<p class="slide-events__descr">Международная выставка цветов, растений, техники и технологий</p>
					</a>
				</li>

				<li class="slide-events swiper-slide">
					<a class="slide-events__hover" href="#">
						<img class="slide-events__img" src="img/project-3.jpg" alt="slider img">
						<p class="slide-events__descr">Международный фестиваль архитектуры, дизайна, ландшафта</p>
					</a>
				</li>

				<li class="slide-events swiper-slide">
					<a class="slide-events__hover" href="#">
						<img class="slide-events__img" src="img/project-2.jpg" alt="slider img">
						<p class="slide-events__descr">Городской проект “Парки Москвы”</p>
					</a>
				</li>

				<li class="slide-events swiper-slide">
					<a class="slide-events__hover" href="#">
						<img class="slide-events__img" src="img/project-1.jpg" alt="slider img">
						<p class="slide-events__descr">Городской проект “Парки Москвы”</p>
					</a>
				</li>
			</ul>

			<div class="slider-events__nav">
				<div class="slider-events__prev slider-prev"></div>
				<div class="slider-events__counter slider-counter"></div>
				<div class="slider-events__next slider-next"></div>
			</div>
		</div>

	</div>
</section>