<section class="events">
	<div class="container">

		<h1 class="events__title title">
			Все события академии
		</h1>

		<div class="events__main">

			<div class="tabs events__categories-box">
				<div class="events__mobile-box">
					<ul class="tabs__list events__categories">
						<li class="tabs__item events__category">
							<span class="events__total">10</span>
							<button class="tabs__btn tabs__btn--active events__btn" data-tabs-path="exhibition">
								Выставки, организуемые Академией
							</button>
						</li>

						<li class="tabs__item events__category">
							<span class="events__total">23</span>
							<button class="tabs__btn events__btn" data-tabs-path="lectures">
								Выездные лекции
							</button>
						</li>

						<li class="tabs__item events__category">
							<span class="events__total">14</span>
							<button class="tabs__btn events__btn" data-tabs-path="announcement">
								Анонсы Международных и Европейских мероприятий в мире садового искусства
							</button>
						</li>

						<li class="tabs__item events__category">
							<span class="events__total">26</span>
							<button class="tabs__btn events__btn" data-tabs-path="achieve-teachers">
								Достижения преподавателей
							</button>
						</li>

						<li class="tabs__item events__category">
							<span class="events__total">26</span>
							<button class="tabs__btn events__btn" data-tabs-path="achieve-students">
								Достижения студентов
							</button>
						</li>

					</ul>
				</div>

				<div class="events__list">
					<div class="tabs__content events__one tabs__content--active" data-tabs-target="exhibition">

						<ul class="events__content">
							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>
						</ul>

					</div>

					<div class="tabs__content events__one" data-tabs-target="lectures">

						<ul class="events__content">
							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки лол
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>
						</ul>

					</div>

					<div class="tabs__content events__one" data-tabs-target="announcement">

						<ul class="events__content">
							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>
						</ul>

					</div>

					<div class="tabs__content events__one" data-tabs-target="achieve-teachers">

						<ul class="events__content">
							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>
						</ul>

					</div>

					<div class="tabs__content events__one" data-tabs-target="achieve-students">

						<ul class="events__content">
							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>

							<li class="event">
								<a class="event__link" href="#">
									<img class="event__img" src="img/event-1.jpg" alt="images">

									<div class="event__info">
										<div class="event__top">
											<span class="event__category">
												Выставки
											</span>

											<span class="event__date">
												08 / 08 / 2021
											</span>
										</div>

										<h2 class="event__title">
											Садово-парковое искусство в прошлом и настоящем
										</h2>

										<p class="event__excerpt">
											Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения
											кадров,
											соответствующей
											насущным потребностям.
										</p>
									</div>
								</a>

							</li>
						</ul>

					</div>

				</div>
			</div>



			<button class="event__btn follow follow--accent" type="button">показать еще</button>
		</div>

	</div>
</section>