<section class="events-main">
	<div class="top">
		<h2 class="top__title title">
			События
		</h2>

		<a class="top__link follow follow--accent" href="#">
			смотреть все события
		</a>
		<a class="top__link follow follow--accent top__link--mobile" href="#">
			все
		</a>
	</div>


	<div class="tabs events-main__content">
		<div class="events-main__mobile-box">
			<ul class="tabs__list events-main__categories">
				<li class="tabs__item events-main__category">
					<span class="events-main__total">10</span>
					<button class="tabs__btn tabs__btn--active events-main__btn" data-tabs-path="exhibition">
						Выставки, организуемые Академией
					</button>
				</li>

				<li class="tabs__item events-main__category">
					<span class="events-main__total">23</span>
					<button class="tabs__btn events-main__btn" data-tabs-path="lectures">
						Выездные лекции
					</button>
				</li>

				<li class="tabs__item events-main__category">
					<span class="events-main__total">14</span>
					<button class="tabs__btn events-main__btn" data-tabs-path="announcement">
						Анонсы Международных и Европейских мероприятий в мире садового искусства
					</button>
				</li>

				<li class="tabs__item events-main__category">
					<span class="events-main__total">26</span>
					<button class="tabs__btn events-main__btn" data-tabs-path="achieve-teachers">
						Достижения преподавателей
					</button>
				</li>

				<li class="tabs__item events-main__category">
					<span class="events-main__total">45</span>
					<button class="tabs__btn events-main__btn" data-tabs-path="achieve-students">
						Достижения студентов
					</button>
				</li>
			</ul>
		</div>


		<div class="events-main__sliders">
			<div class="swiper events-main__slider tabs__content tabs__content--active" data-tabs-target="exhibition"
				id="exhibition">

				<ul class="swiper-wrapper events-main__wrapper">

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Выставки</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Выставки</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Выставки</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Выставки</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

				</ul>

				<div class="events-main__navigation">
					<div class="events-main__prev slider-prev"></div>
					<div class="events-main__counter slider-counter"></div>
					<div class="events-main__next slider-next"></div>
				</div>

			</div>

			<div class="swiper events-main__slider tabs__content" data-tabs-target="lectures" id="lectures">

				<ul class="swiper-wrapper events-main__wrapper">

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Лекции</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Лекции</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Лекции</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Лекции</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

				</ul>

				<div class="events-main__navigation">
					<div class="events-main__prev slider-prev"></div>
					<div class="events-main__counter slider-counter"></div>
					<div class="events-main__next slider-next"></div>
				</div>

			</div>

			<div class="swiper events-main__slider tabs__content" data-tabs-target="announcement" id="announcement">

				<ul class="swiper-wrapper events-main__wrapper">

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Анонсы</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Анонсы</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Анонсы</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Анонсы</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

				</ul>

				<div class="events-main__navigation">
					<div class="events-main__prev slider-prev"></div>
					<div class="events-main__counter slider-counter"></div>
					<div class="events-main__next slider-next"></div>
				</div>

			</div>

			<div class="swiper events-main__slider tabs__content" data-tabs-target="achieve-teachers" id="achieve-teachers">

				<ul class="swiper-wrapper events-main__wrapper">

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения преподавателей</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения преподавателей</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения преподавателей</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения преподавателей</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

				</ul>

				<div class="events-main__navigation">
					<div class="events-main__prev slider-prev"></div>
					<div class="events-main__counter slider-counter"></div>
					<div class="events-main__next slider-next"></div>
				</div>

			</div>

			<div class="swiper events-main__slider tabs__content" data-tabs-target="achieve-students" id="achieve-students">

				<ul class="swiper-wrapper events-main__wrapper">

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения студентов</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения студентов</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения студентов</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

					<li class="swiper-slide events-main__slide">
						<a class="events-main__hover" href="#">
							<img class="events-main__img" src="img/project-1.jpg" alt="project">
							<div class="events-main__info">
								<span class="events-main__cat">Достижения студентов</span>
								<span class="events-main__date">08 / 08 / 2021</span>
							</div>
							<h3 class="events-main__title">
								Садово-парковое искусство в прошлом и настоящем
							</h3>
						</a>
					</li>

				</ul>

				<div class="events-main__navigation">
					<div class="events-main__prev slider-prev"></div>
					<div class="events-main__counter slider-counter"></div>
					<div class="events-main__next slider-next"></div>
				</div>

			</div>

		</div>

	</div>

	<div class="subscribe">
		<div class="container">
			<div class="subscribe__inner">
				<span class="subscribe__title">
					Будьте в курсе событий
				</span>

				<div class="subscribe__field field-box">
					<input class="subscribe__input field-input" id="your-mail" type="email" placeholder=" ">
					<label class="subscribe__name field-label" for="your-mail">Ваша электронная почта</label>
				</div>

				<button class="subscribe__btn" type="submit">
					подписаться
				</button>
			</div>

		</div>
	</div>

</section>