<section class="events events--study">
	<div class="container">

		<h2 class="events__title">
			Наши выпускники принимают активное участие в городских проектах и тендерах, представляют свои работы на выставках,
			обсуждают наработки на международных конференциях, участвуют в выездных мероприятиях
		</h2>

		<a class="events__link" href="#">
			Смотреть все события
		</a>

		<div class="slider-events">
			<div class="slider-events__wrapper">
				<div class="slide-events">
					<img class="slide-events__img" src="" alt="slider img">

					<p class="slide-events__descr">Городской проект “Парки Москвы”</p>
				</div>

				<div class="slide-events">
					<img class="slide-events__img" src="" alt="slider img">

					<p class="slide-events__descr">Городской проект “Парки Москвы”</p>
				</div>
			</div>
		</div>

	</div>
</section>