<section class="events">
	<div class="container">

		<h1 class="events__title">
			Все события академии
		</h1>

		<div class="events__main">
			<ul class="events__categories">
				<li class="events__category">
					<a class="events__link" href="#">
						<span class="events__total">10</span>
						Выставки, организуемые Академией
					</a>
				</li>

				<li class="events__category">
					<a class="events__link" href="#">
						<span class="events__total">23</span>
						Выездные лекции
					</a>
				</li>

				<li class="events__category">
					<a class="events__link" href="#">
						<span class="events__total">14</span>
						Анонсы Международных и Европейских мероприятий в мире садового искусства
					</a>
				</li>

				<li class="events__category">
					<a class="events__link" href="#">
						<span class="events__total">26</span>
						Достижения преподавателей
					</a>
				</li>
			</ul>

			<ul class="events__content">
				<li class="event">
					<a class="event__link" href="#">
						<img class="event__img" src="img/event-1.jpg" alt="images">

						<div class="event__info">
							<div class="event__top">
								<span class="event__category">
									Выставки
								</span>

								<span class="event__date">
									08 / 08 / 2021
								</span>
							</div>

							<h2 class="event__title">
								Садово-парковое искусство в прошлом и настоящем
							</h2>

							<p class="event__excerpt">
								Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения кадров,
								соответствующей
								насущным потребностям.
							</p>
						</div>
					</a>

				</li>

				<li class="event">
					<a class="event__link" href="#">
						<img class="event__img" src="img/event-1.jpg" alt="images">

						<div class="event__info">
							<div class="event__top">
								<span class="event__category">
									Выставки
								</span>

								<span class="event__date">
									08 / 08 / 2021
								</span>
							</div>

							<h2 class="event__title">
								Садово-парковое искусство в прошлом и настоящем
							</h2>

							<p class="event__excerpt">
								Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения кадров,
								соответствующей
								насущным потребностям.
							</p>
						</div>
					</a>

				</li>

				<li class="event">
					<a class="event__link" href="#">
						<img class="event__img" src="img/event-1.jpg" alt="images">

						<div class="event__info">
							<div class="event__top">
								<span class="event__category">
									Выставки
								</span>

								<span class="event__date">
									08 / 08 / 2021
								</span>
							</div>

							<h2 class="event__title">
								Садово-парковое искусство в прошлом и настоящем
							</h2>

							<p class="event__excerpt">
								Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения кадров,
								соответствующей
								насущным потребностям.
							</p>
						</div>
					</a>

				</li>

				<li class="event">
					<a class="event__link" href="#">
						<img class="event__img" src="img/event-1.jpg" alt="images">

						<div class="event__info">
							<div class="event__top">
								<span class="event__category">
									Выставки
								</span>

								<span class="event__date">
									08 / 08 / 2021
								</span>
							</div>

							<h2 class="event__title">
								Садово-парковое искусство в прошлом и настоящем
							</h2>

							<p class="event__excerpt">
								Для современного мира выбранный нами инновационный путь требует от нас анализа системы обучения кадров,
								соответствующей
								насущным потребностям.
							</p>
						</div>
					</a>

				</li>
			</ul>

			<button class="event__btn" type="button">показать еще</button>
		</div>

	</div>
</section>