<footer class="footer">

	<div class="container">
		<div class="footer__top">
			<a class="footer__logo" href="#">
				Academy of Landscape Art, Sociocultural and Ecosystem Design
			</a>

			<div class="footer__nav">
				<ul class="menu">
					<li class="menu__item">
						<a class="menu__link" href="#">
							Об академии
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							События
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Направления в обучении
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Истории успеха
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Абитуриентам
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Контакты
						</a>
					</li>
				</ul>

				<div class="footer__help">
					<a class="footer__programs" href="#">
						Все программы курсы и интенсивы
					</a>

					<a class="footer__login" href="#">
						Войти
					</a>
				</div>
			</div>
		</div>

		<div class="footer__middle">
			<div class="footer__col">
				<span class="footer__title">Обучение</span>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link" href="#">
							Образовательные программы
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Направления в обучении
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Поступление и обучение
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Условия поступления
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Преподаватели
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Истории успеха
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Ассоциация выпускников
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__col">
				<span class="footer__title">Академия</span>

				<ul class="footer__list">
					<li class="footer__item">
						<a class="footer__link" href="#">
							Об академии
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Международное партнерство
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Связи с индустрией
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Центр информационных ресурсов
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							События
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Публикации
						</a>
					</li>

					<li class="footer__item">
						<a class="footer__link" href="#">
							Контакты
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__contacts">
				<span class="footer__title">Контакты</span>

				<p class="footer__city">
					г. Москва, ул. Искусств, 8
				</p>

				<a class="footer__mail" href="mailto:info@gmail.com">
					info@gmail.com
				</a>

				<a class="footer__phone" href="tel:88000008888">
					8 800 000 88 88
				</a>

				<a class="footer__call popup-link" href="#">
					Заказать звонок
				</a>

				<ul class="footer__socials">
					<li class="footer__social">
						<a class="footer__social-link" href="#">
							Facebook
						</a>
					</li>
					<li class="footer__social">
						<a class="footer__social-link" href="#">
							instagram
						</a>
					</li>
				</ul>

			</div>
		</div>

		<div class="footer__bottom">
			<p class="footer__cookie">
				Сайт использует файлы «cookie», с целью персонализации сервисов и повышения удобства пользования веб-сайтом.
				«Cookie»
				представляют собой небольшие файлы, содержащие информацию о предыдущих посещениях веб-сайта. Если вы не хотите
				использовать файлы «cookie», измените настройки браузера.
			</p>

			<div class="footer__line">
				<p class="footer__copy">
					© 2021, Academy of Landscape Art, Sociocultural and Ecosystem Design — Международная академия Ландшафтного
					искусства,
					социокультурного и экосистемного проектирования
				</p>

				<ul class="footer__menu">
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">
							Пользовательское соглашение
						</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">
							реквизиты
						</a>
					</li>
					<li class="footer__menu-item">
						<a class="footer__menu-link" href="#">
							оферта
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</footer>