<div class="form-question-wrapper">
	<div class="container">
		<form class="form-question" action="#">
			<div class="form-question__intro">
				<span class="form-question__title">
					Если у вас есть вопросы, и вы не знаете что выбрать
				</span>

				<p class="form-question__appeal">
					Оставьте свой контакт: мы свяжемся с вами, чтобы дать ответы на все ваши вопросы
				</p>
			</div>

			<div class="form-question__cols">
				<div class="form-question__col">
					<ul class="form-question__list">

						<li class="form-question__item field-box">
							<input class="form-question__field field-input" id="your-name" type="text" placeholder=" ">
							<label class="form-question__label field-label" for="your-name">Ваше имя:</label>
						</li>
						<li class="form-question__item field-box">
							<input class="form-question__field field-input" id="your-mail" type="text" placeholder=" ">
							<label class="form-question__label field-label" for="your-mail">
								Ваша электронная почта
							</label>
						</li>
					</ul>
				</div>

				<div class="form-question__col">
					<div class="form-question__item field-box">
						<input class="form-question__field field-input" id="your-phone" type="text" placeholder=" ">
						<label class="form-question__label field-label" for="your-phone">
							Ваш телефона для связи
						</label>
					</div>

					<button class="form-question__btn button button--follow-clear">Получить ответы</button>

					<p class="form-question__polity">
						Нажимая на кнопку, я соглашаюсь на обработку
						<a class="form-question__link" href="#">персональных данных</a>
					</p>
				</div>
			</div>

		</form>
	</div>
</div>