<section class="graduates">
	<div class="container">
		<div class="graduates__inner">
			<div class="graduates__info">
				<h2 class="graduates__title">
					Ассоциация выпускников
				</h2>

				<p class="graduates__descr">
					Создана с целью поддержания и развития контактов между бывшими сокурсниками, преподавателями и Академией
				</p>

				<a class="graduates__link" href="#">
					Вступить в клуб выпускников
				</a>

				<span class="graduates__text">
					Для аттестованных в Базовом курсе выпускников по номеру диплома
				</span>
			</div>

			<div class="graduates__content">
				<img class="graduates__img" src="img/graduates.jpg" alt="выпускники">

				<ul class="graduates__list">
					<li class="graduates__item">
						Количество выпускников МАЛИСЭП увеличивается с каждым годом, постепенно образуя сильное и динамичное
						сообщество
						профессионалов, связанных похожими целями.
					</li>
					<li class="graduates__item">
						Ассоциация организует новостные рассылки, проводит встречи, а также предлагает коммерческие проекты от наших
						партнеров.
					</li>
					<li class="graduates__item">
						География также год от года расширяется, поскольку многие
						продолжают строят
						карьеру в других странах. Многие выпускники открывают для себя перспективы на российском рынке, по прежнему
						испытывающем
						дефицит высококвалифицированных кадров.
					</li>
					<li class="graduates__item">
						Каждый студент, окончивший образовательную программу в Академии продолжительностью от одного года,
						автоматически
						становится членом Ассоциации выпускников. На выпускном дне студент получает карточку выпускника.
					</li>
					<li class="graduates__item">
						Ассоциация выпускников является платформой для общения между
						специалистами и
						открывает новые возможности для развития профессиональных связей.
					</li>
					<li class="graduates__item">
						Академия
						поддерживает
						тесные связи со многими российскими и зарубежными компаниями, которые предоставляют выпускникам скидки,
						бонусы и
						индивидуальные предложения.
					</li>
					<li class="graduates__item">
						Список компаний-участников программы
						лояльности
						постоянно обновляется.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>