<header class="header">
	<div class="container">
		<nav class="header__nav">
			<a class="logo" href="#">
				Academy of Landscape Art, Sociocultural and Ecosystem Design
			</a>

			<button class="header__menu-btn">
				<img src="/img/menu-icon.svg" alt="">
				Кнопка меню
			</button>

			<select class="header__lang" name="" id="">
				<option value="ru">ru</option>
				<option value="en">en</option>
			</select>

			<button class="header__burger">
				Меню бургер
			</button>

			<div class="header__mobile">
				<button class="header__close">кнопка закрыть меню</button>
				<a class="header__programs" href="#">
					Все программы курсы и интенсивы
				</a>

				<ul class="menu">
					<li class="menu__item">
						<a class="menu__link" href="#">
							Об академии
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							События
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Направления в обучении
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Истории успеха
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Абитуриентам
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">
							Контакты
						</a>
					</li>
				</ul>

				<a class="login" href="#">
					Войти
				</a>
			</div>


		</nav>
	</div>
</header>