<section class="information">

	<div class="container">

		<h2 class="information__title title">
			Центр информационных ресурсов
		</h2>

		<p class="information__descr">
			Центр информационных ресурсов обеспечивает информационную поддержку образовательного процесса на программах
			Академии
		</p>

		<div class="information__content">
			<div class="information__info">
				<ul class="information__tasks">
					<li class="information__task">
						В задачи Центра входят развитие фонда учебной литературы
					</li>

					<li class="information__task">
						Подписка на периодические и электронные издания
					</li>

					<li class="information__task">
						Осуществление
						cправочно-информационного обслуживания студентов и преподавателей
					</li>
				</ul>

				<p class="information__offer">
					Библиотечный фонд учебных и общих научных материалов каталогизирован и учитывает все образовательные задачи,
					расширяя
					компетенции обучающихся
				</p>

			</div>

			<div class="information__main">
				<ul class="information__advantages">
					<li class="information__advantage information__advantage--library">
						<img class="information__img" src="img/advantage-1.jpg"
							alt="Центр включает в себя библиотеку печатных изданий и электронную библиотеку">
						<p class="information__text">
							Центр включает в себя библиотеку печатных изданий и электронную библиотеку
						</p>
					</li>

					<li class="information__advantage information__advantage--books">
						<img class="information__img" src="img/advantage-2.jpg"
							alt="Центр включает в себя библиотеку печатных изданий и электронную библиотеку">
						<p class="information__text">
							Более 80% книжного фонда составляют издания на английском языке
						</p>
					</li>
				</ul>

				<div class="information__footer">
					<span class="information__heading">
						Академия постоянно расширяет контакты с поставщиками информационных ресурсов (как печатных, так и
						электронных)
					</span>
					<p class="information__text">
						Поддерживает связи с рядом крупнейших библиотек страны, библиотек и информационных центров университетов в
						России и за
						рубежом, с дизайн-студиями, коммерческими компаниями и предприятиями.
					</p>
				</div>
			</div>
		</div>

	</div>


</section>