<section class="levels">
	<div class="container">
		<div class="levels__inner">
			<h2 class="levels__title title">
				<span>Ступени</span> обучения
			</h2>

			<ul class="levels__list">
				<li class="levels__item">
					Первая ступень обучения: Базовый курс
				</li>

				<li class="levels__item">
					Вторая ступень обучения: Постдипломный курс
				</li>

				<li class="levels__item">
					Третья степень обучения
				</li>
			</ul>

			<ul class="levels__listing">
				<li class="levels__one">
					<span class="levels__name">
						Постдипломные интенсивы и выездное обучение
					</span>

					<img class="levels__img" src="img/intensives.jpg" alt="Постдипломные интенсивы">
				</li>

				<li class="levels__one">
					<span class="levels__name">
						Постдипломные проекты, участие в выставках, тендерах, воркшопах
					</span>

					<img class="levels__img" src="img/projects.jpg" alt="Постдипломные проекты">
				</li>

				<li class="levels__one">
					<span class="levels__name">
						Постдипломные авторские мастер-классы
					</span>

					<img class="levels__img" src="img/master-classes.jpg" alt="Постдипломные авторские мастер-классы">
				</li>
			</ul>
		</div>
	</div>
</section>