<section class="licenses">
	<div class="container">
		<div class="licenses__inner">
			<div class="license">
				<img class="license__img" src="img/license-1.jpg" alt="license">

				<span class="license__descr">
					Образец диплома о дополнительном образовании
				</span>

				<a class="license__link follow follow--accent" href="#">
					Базовый курс
				</a>
			</div>

			<div class="license__wrapper">
				<div class="licenses__content">
					<h2 class="licenses__title">
						Лицензии и аккредитации
					</h2>

					<p class="licenses__descr">
						Лицензия департамента образования города Москвы на осуществление образовательной деятельности
					</p>
				</div>

				<div class="license license--small">
					<img class="license__img" src="img/license-2.jpg" alt="license">

					<span class="license__descr">
						Образец диплома о дополнительном образовании
					</span>

					<a class="license__link follow follow--accent" href="#">
						Постдипломный курс
					</a>
				</div>
			</div>


		</div>

		<div class="statement">
			<div class="statement__info">
				<h2 class="statement__title">
					Заявление на обучение
				</h2>

				<a class="statement__link button" href="#">
					Записаться на тестирование
				</a>
			</div>

			<ul class="statement__docs">
				<li class="document">
					<img class="document__img" src="img/doc-1.jpg" alt="Образец заявления на поступление">

					<span class="document__name">
						Образец заявления на поступление
					</span>

					<a class="document__download" href="#">
						Скачать брошюру
					</a>
				</li>

				<li class="document">
					<img class="document__img" src="img/doc-2.jpg" alt="Образец договора на получение образовательных услуг">

					<span class="document__name">
						Образец заявления на поступление
					</span>

					<a class="document__download" href="#">
						Скачать договор
					</a>
				</li>
			</ul>

			<div class="formats">
				<span class="formats__title">
					Формы обучения
				</span>
				<p class="formats__subtitle">
					Учитесь, как вам удобно
				</p>

				<ul class="formats__list">
					<li class="formats__item formats__item--day">
						Дневное очное
					</li>
					<li class="formats__item formats__item--evening">
						Вечернее очное
					</li>
					<li class="formats__item formats__item--day-distance">
						Дневное дистанционное
					</li>
					<li class="formats__item formats__item--evening-distance">
						Вечернее дистанционное
					</li>
				</ul>

			</div>
		</div>
	</div>
</section>