<section class="loyalty">
	<div class="container">
		<div class="loyalty__info">
			<h2 class="loyalty__title">
				Программа лояльности
			</h2>

			<p class="loyalty__descr">
				Участниками программы становятся компании, зарекомендовавшие себя как надежные партнеры МАЛИСЭП
			</p>

			<span class="loyalty__text">
				Они предоставляют для
				выпускников скидки, бонусы и индивидуальные предложения
			</span>

		</div>

		<ul class="loyalty__list">
			<li class="loyalty__item">
				<img class="loyalty__logo" src="img/logo-litres.png" alt="Логотип литрес">

				<p class="loyalty__offer">
					Скидка 10% на электронные книги
				</p>
			</li>

			<li class="loyalty__item">
				<img class="loyalty__logo" src="img/logo-litres.png" alt="Логотип литрес">

				<p class="loyalty__offer">
					Скидка 10% на электронные книги
				</p>
			</li>

			<li class="loyalty__item">
				<img class="loyalty__logo" src="img/logo-litres.png" alt="Логотип литрес">

				<p class="loyalty__offer">
					Скидка 10% на электронные книги
				</p>
			</li>
		</ul>
	</div>
</section>