<section class="loyalty">
	<div class="container">
		<div class="loyalty__inner">
			<div class="loyalty__info">
				<h2 class="loyalty__title">
					Программа лояльности
				</h2>

				<p class="loyalty__descr">
					Участниками программы становятся компании, зарекомендовавшие себя как надежные партнеры МАЛИСЭП
				</p>

				<span class="loyalty__text">
					Они предоставляют для
					выпускников скидки, бонусы и индивидуальные предложения
				</span>

			</div>

			<ul class="loyalty__list">
				<li class="loyalty__item">
					<a class="loyalty__link" href="#">
						<div class="loyalty__logo">
							<img class="loyalty__logo-img" src="img/loyalty/loyalty-1.jpg" alt="Логотип партнёра">
						</div>

						<p class="loyalty__offer">
							типография
						</p>
					</a>
				</li>

				<li class="loyalty__item">
					<a class="loyalty__link" href="#">
						<div class="loyalty__logo">
							<img class="loyalty__logo-img" src="img/loyalty/loyalty-2.jpg" alt="Логотип литрес">
						</div>

						<p class="loyalty__offer">
							питомник растений
						</p>
					</a>
				</li>

				<li class="loyalty__item">
					<a class="loyalty__link" href="#">
						<div class="loyalty__logo">
							<img class="loyalty__logo-img" src="img/loyalty/loyalty-3.jpg" alt="Логотип литрес">
						</div>

						<p class="loyalty__offer">
							m2 news
						</p>
					</a>
				</li>

				<li class="loyalty__item">
					<a class="loyalty__link" href="#">
						<div class="loyalty__logo">
							<img class="loyalty__logo-img" src="img/loyalty/loyalty-4.png" alt="Логотип литрес">
						</div>

						<p class="loyalty__offer">
							фитолампы
						</p>
					</a>
				</li>
			</ul>
		</div>

	</div>
</section>