<section class="main-directions">
	<div class="container">
		<div class="main-directions__inner">
			<h2 class="main-directions__title title">
				Основные направления в обучении
			</h2>
			<div class="main-directions__content">
				<div class="main-directions__offer">
					<span class="main-directions__name">
						Сегодня МАЛИСЭП развивает два основных направления образования:
					</span>

					<ul class="main-directions__list">
						<li class="main-directions__item">
							Профессиональное дополнительное образование
						</li>
						<li class="main-directions__item">
							Подготовка кадров высшей квалификации
						</li>
					</ul>

					<p class="main-directions__descr">
						Обе программы дают фундаментальную подготовку и готовят высококвалифицированных ландшафтных архитекторов
						узкого профиля.
					</p>
				</div>
				<div class="main-directions__info">
					<p class="main-directions__heading">
						Программы прошли валидацию LMU и соответствуют международным стандартам образования
					</p>
					<p class="main-directions__text">
						Выпускники получают
						соответствующие
						дипломы и сертификаты, благодаря которым могут продолжить успешную карьеру в ведущих компаниях России и
						других стран.
					</p>
					<p class="main-directions__descr">
						Учебные программы, разработанные в рамках российского стандарта дополнительного образования и
						предназначенные для
						переквалификации и непрерывного развития практикующих ландшафтных архитекторов и специалистов смежных
						профессий.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>