<section class="offer">
	<div class="container">
		<div class="offer__inner">
			<p class="offer__text">
				Развиваемся в партнерстве с Факультетом искусства, архитектуры и дизайна Sapienza University of Rome
				<img class="offer__logo" src="img/rome-logo.png" alt="Rome logo">
				входящим в число лучших архитектурных школ Италии
			</p>
			<p class="offer__text">
				Студенты МАЛИСЭП могут получить итальянский диплом University of Pisa
				<img class="offer__logo" src="img/pisa-logo.png" alt="Rome logo">
				University
				of
				Naples Federico II
				<img class="offer__logo" src="img/federico-logo.png" alt="Rome logo">
				обучаясь при этом в Москве
			</p>
		</div>
	</div>
</section>