<section class="opendoors">
	<div class="container">
		<div class="opendoors__top">
			<h2 class="opendoors__title">
				Дни открытых дверей
			</h2>

			<p class="opendoors__descr">
				Это возможность побывать в пространстве Академии, познакомиться с преподавателями и получить ответы на
				интересующие вас
				вопросы.
			</p>
		</div>

		<div class="opendoors__content">
			<a class="opendoors__follow" href="#">
				узнать расписание
			</a>

			<div class="opendoors__info">
				<p class="opendoors__text">
					День открытых дверей проходит в формате большой встречи в стенах Академии с будущими абитуриентами, а также в
					режиме с
					он-лайн встреч
				</p>
				<p class="opendoors__text">
					Педагогический состав проводит презентацию обновленных образовательных программ и рассказывает о
					форматах
					и преимуществах обучения
				</p>
			</div>
		</div>

	</div>
</section>