<section class="partners">
	<div class="container">
		<div class="partners__inner">
			<h2 class="partners__title">Международное партнерство</h2>
			<div class="partners__top">
				<p class="partners__descr">
					Сотрудничаем с учебными заведениями Рима, Пизы, Неаполя, Лондона, Мадрида, Берлина
				</p>

				<p class="partners__text">
					Это позволяет нам формировать образовательные программы, исходя из потребностей рынка и предоставлять нашим
					студентам
					все необходимое для максимально эффективного обучения и практики
				</p>
			</div>

			<div class="tabs partners__tabs">
				<ul class="tabs__list partners__buttons">
					<li class="tabs__item">
						<button class="tabs__btn partners__btn tabs__btn--active" data-tabs-path="education">
							Образовательные партнеры
						</button>
					</li>
					<li class="tabs__item"><button class="tabs__btn partners__btn" data-tabs-path="process">Партнеры
							образовательного процесса</button></li>
					<li class="tabs__item"><button class="tabs__btn partners__btn" data-tabs-path="events">Партнеры
							мероприятий</button>
					</li>
					<li class="tabs__item"><button class="tabs__btn partners__btn" data-tabs-path="information">Информационные
							партнеры</button>
					</li>
				</ul>

				<div class="tabs__content tabs__content--active partners__content" data-tabs-target="education">
					<ul class="partners__list">

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-1.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									Treesber
								</a>
								<p class="partners__description">
									TREESBER – компания целью которой является продажа, доставка и посадка крупномеров лиственных и
									хвойных
									пород,
									Российского и Европейского происхождения. Роскошное дерево станет жемчужиной Вашего сада.
								</p>
							</div>
						</li>

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-2.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									Школа SketchUp
								</a>
								<p class="partners__description">
									Курсы SketchUp, Enscape3d, AutoCAD
								</p>
							</div>
						</li>

					</ul>
				</div>

				<div class="tabs__content partners__content" data-tabs-target="process">
					<ul class="partners__list">

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-3.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									M2news
								</a>
								<p class="partners__description">
									M2news – компания целью которой является продажа, доставка и посадка крупномеров лиственных и
									хвойных
									пород,
									Российского и Европейского происхождения. Роскошное дерево станет жемчужиной Вашего сада.
								</p>
							</div>
						</li>

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-2.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									Школа SketchUp
								</a>
								<p class="partners__description">
									Курсы SketchUp, Enscape3d, AutoCAD
								</p>
							</div>
						</li>

					</ul>
				</div>

				<div class="tabs__content partners__content" data-tabs-target="events">
					<ul class="partners__list">

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-1.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									Treesber
								</a>
								<p class="partners__description">
									TREESBER – компания целью которой является продажа, доставка и посадка крупномеров лиственных и
									хвойных
									пород,
									Российского и Европейского происхождения. Роскошное дерево станет жемчужиной Вашего сада.
								</p>
							</div>
						</li>

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-3.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									M2news
								</a>
								<p class="partners__description">
									M2news – компания целью которой является продажа, доставка и посадка крупномеров лиственных и
									хвойных
									пород,
									Российского и Европейского происхождения. Роскошное дерево станет жемчужиной Вашего сада.
								</p>
							</div>
						</li>

					</ul>
				</div>

				<div class="tabs__content partners__content" data-tabs-target="information">
					<ul class="partners__list">

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-5.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									Ландаштный дом
								</a>
								<p class="partners__description">
									TREESBER – компания целью которой является продажа, доставка и посадка крупномеров лиственных и
									хвойных
									пород,
									Российского и Европейского происхождения. Роскошное дерево станет жемчужиной Вашего сада.
								</p>
							</div>
						</li>

						<li class="partners__item">
							<a class="partners__logo" href="#">
								<img class="partners__logo-img" src="img/partners/partner-2.png" alt="treesber">
							</a>
							<div class="partners__info">
								<a class="partners__name" href="#">
									Школа SketchUp
								</a>
								<p class="partners__description">
									Курсы SketchUp, Enscape3d, AutoCAD
								</p>
							</div>
						</li>

					</ul>
				</div>

			</div>
		</div>
	</div>
</section>