<section class="price">
	<div class="container">
		<h2 class="price__title title">
			<span>Стоимость</span> обучения
		</h2>

		<ul class="price__list">
			<li class="price__item">
				<span class="price__name">
					Базовый курс
				</span>

				<span class="price__total">
					250 000 руб
				</span>

				<a class="price__follow pupup-link follow follow--arrow" href="#">
					Заполнить анкету
				</a>
			</li>

			<li class="price__item">
				<span class="price__name">
					Постдипломные / Краткосрочные курсы
				</span>

				<span class="price__total">
					60 000 руб
				</span>

				<a class="price__follow pupup-link follow follow--arrow" href="#">
					Заполнить анкету
				</a>
			</li>

			<li class="price__item">
				<span class="price__name">
					Интенсивы
				</span>

				<span class="price__total">
					15 000 руб
				</span>

				<span class="price__descr">
					для курса на территории РФ; <br>
					для выездных курсов цена формируется в зависимости от места проведения.
				</span>
			</li>
		</ul>

		<div class="payform">

			<div class="payform__info">

				<h3 class="payform__title">
					Форма оплаты
				</h3>

				<p class="payform__text">
					Оплата производится по реквизитам, указанным в счете через отделение банка или он-лайн банкинг
				</p>

				<p class="payform__text payform__text--accent">
					Карты и наличные к оплате не принимаются
				</p>

			</div>

			<div id="accordion" class="payform__accordion">
				<dl>
					<dt class="payform__question question js-accordion">
						<button class="question__trigger payform__trigger payform__trigger--standart" type="button">
							Стандартная
						</button>
					</dt>
					<dd class="payform__answer answer">
						<div class="answer__content payform__content">
							<p class="payform__content-text">
								В Академии существует специальная программа по рассрочке платежей за обучение по Базовому курсу, которая
								позволяет
								оплачивать обучение ежемесячно.
							</p>
							<p class="payform__content-text payform__content-text--bold">
								Рассрочка представляется на весь период обучения.
							</p>

							<p class="payform__content-text payform__content-text--small">
								Общая стоимость обучения увеличивается на 15% по сравнению с базовой суммой. Минимальная сумма платежа,
								которую
								необходимо внести до начала курса, составляет 30% от стоимости обучения.
							</p>

							<p class="payform__content-text payform__content-text--small">
								Далее оплата производится
								равными частями на
								протяжении обучения. Оплата по рассрочке производится ежемесячными равными выплатами согласно графику,
								утвержденному в
								договоре. Ежемесячные выплаты должны производиться в течение всего срока обучения, начиная со следующего
								месяца после
								начала обучения. Ежемесячные выплаты должны производиться в срок до 5-го числа каждого месяца.
								Подтверждение оплаты не
								требуется.
							</p>

							<p class="payform__content-text payform__content-text--small">
								В случае просрочки в осуществлении планового платежа до 15-го числа текущего месяца учебный
								отдел МАСИ
								выпускает проект приказа об отчислении, который вступает в силу в течение 5-х рабочих дней.
							</p>

							<p class="payform__content-text payform__content-text--small">
								Восстановление студента,
								отчисленного по причине финансовой задолженности, возможно в течение месяца после отчисления и
								производится на платной
								основе.
							</p>
						</div>
					</dd>
					<dt class="payform__question question js-accordion">
						<button class="question__trigger payform__trigger payform__trigger--mortgage" type="button">
							В рассрочку
						</button>
					</dt>
					<dd class="payform__answer answer">
						<div class="answer__content payform__content">
							<p class="payform__content-text">
								В Академии существует специальная программа по рассрочке платежей за обучение по Базовому курсу, которая
								позволяет
								оплачивать обучение ежемесячно.
							</p>
							<p class="payform__content-text payform__content-text--bold">
								Рассрочка представляется на весь период обучения.
							</p>

							<p class="payform__content-text payform__content-text--small">
								Общая стоимость обучения увеличивается на 15% по сравнению с базовой суммой. Минимальная сумма платежа,
								которую
								необходимо внести до начала курса, составляет 30% от стоимости обучения.
							</p>

							<p class="payform__content-text payform__content-text--small">
								Далее оплата производится
								равными частями на
								протяжении обучения. Оплата по рассрочке производится ежемесячными равными выплатами согласно графику,
								утвержденному в
								договоре. Ежемесячные выплаты должны производиться в течение всего срока обучения, начиная со следующего
								месяца после
								начала обучения. Ежемесячные выплаты должны производиться в срок до 5-го числа каждого месяца.
								Подтверждение оплаты не
								требуется.
							</p>

							<p class="payform__content-text payform__content-text--small">
								В случае просрочки в осуществлении планового платежа до 15-го числа текущего месяца учебный
								отдел МАСИ
								выпускает проект приказа об отчислении, который вступает в силу в течение 5-х рабочих дней.
							</p>

							<p class="payform__content-text payform__content-text--small">
								Восстановление студента,
								отчисленного по причине финансовой задолженности, возможно в течение месяца после отчисления и
								производится на платной
								основе.
							</p>
						</div>
					</dd>
				</dl>
			</div>

		</div>
	</div>
</section>