<section class="price">
	<div class="container">
		<h2 class="price__title title">
			<span>Стоимость</span> обучения
		</h2>

		<ul class="price__list">
			<li class="price__item">
				<span class="price__name">
					Базовый курс
				</span>

				<span class="price__total">
					250 000 руб
				</span>

				<a class="price__follow pupup-link" href="#">
					Заполнить анкету
				</a>
			</li>

			<li class="price__item">
				<span class="price__name">
					Постдипломные / Краткосрочные курсы
				</span>

				<span class="price__total">
					60 000 руб
				</span>

				<a class="price__follow pupup-link" href="#">
					Заполнить анкету
				</a>
			</li>

			<li class="price__item">
				<span class="price__name">
					Интенсивы
				</span>

				<span class="price__total">
					15 000 руб
				</span>

				<span class="price__descr">
					для курса на территории РФ; для выездных курсов цена формируется в зависимости от места проведения.
				</span>
			</li>
		</ul>

		<div class="payform">

			<div class="payform__info">

				<h3 class="payform__title">
					Форма оплаты
				</h3>

				<p class="payform__text">
					Оплата производится по реквизитам, указанным в счете через отделение банка или он-лайн банкинг
				</p>

				<p class="payform__text">
					Карты и наличные к оплате не принимаются
				</p>

			</div>

			<div id="accordion" class="accordion">
				<div class="accordion-item show">
					<div class="accordion-item-header">
						В рассрочку
					</div>
					<div class="accordion-item-content">
						Контент 1...
					</div>
				</div>
				<div class="accordion-item">
					<div class="accordion-item-header">
						Заголовок 2
					</div>
					<div class="accordion-item-content">
						Контент 2...
					</div>
				</div>
				...
			</div>

		</div>
	</div>
</section>