<section class="programs">
	<div class="container">
		<div class="programs__top">
			<div class="programs__intro">
				<h2 class="programs__title">
					Программы обучения
				</h2>

				<select class="programs__choose">
					<option>выбрать программу</option>
					<option>название программы 1</option>
					<option>название программы 2</option>
				</select>

			</div>

			<div class="programs__info">
				<p class="programs__subtitle">
					Каждая программа обучения имеет государственную лицензию и соответствует стандартам, предъявляемым к
					программам
					дополнительного профессионального обучения
				</p>

				<p class="programs__attention">
					Каждый курс является авторской программой и защищен законом об авторском праве.
				</p>
			</div>
		</div>

		<ul class="programs__list">
			<li class="program">
				<div class="program__runline"></div>
				<div class="program__content">
					<ul class="program__specifications">
						<li class="program__feature">
							<span class="program__name">Продолжительность</span>
							<span class="program__descr">1 год</span>
						</li>

						<li class="program__feature">
							<span class="program__name">Продолжительность</span>
							<span class="program__descr">1 год</span>
						</li>

						<li class="program__feature">
							<span class="program__name">Продолжительность</span>
							<span class="program__descr">1 год</span>
						</li>

						<li class="program__feature">
							<span class="program__name">Продолжительность</span>
							<span class="program__descr">1 год</span>
						</li>
					</ul>

					<div class="program__chars">
						<div class="program__char">
							<span class="program__char-name">Диплом по специальности:</span>
							<span class="program__char-descr">Описание</span>
						</div>

						<div class="program__char-box">
							<div class="program__char">
								<span class="program__char-name">Факультет:</span>
								<span class="program__char-descr">Описание</span>
							</div>

							<div class="program__char">
								<span class="program__char-name">
									Осуществляется на базе образования:
								</span>
								<span class="program__char-descr">Описание</span>
							</div>
						</div>
					</div>

					<div class="program__relevant">
						<h3 class="program__heading">
							Кому подойдет данная образовательная программа
						</h3>

						<div class="tabs">
							<ul class="tabs__list">
								<li class="tabs__item"><button class="tabs__btn tabs__btn--active"
										data-tabs-path="main">Главная</button>
								</li>
								<li class="tabs__item"><button class="tabs__btn" data-tabs-path="archive">Архив</button></li>
								<li class="tabs__item"><button class="tabs__btn" data-tabs-path="settings">Настройки</button></li>
							</ul>
							<div class="tabs__content tabs__content--active" data-tabs-target="main">
								<div class="content">
									<h2 class="content__title">Добро пожаловать!</h2>
									<p class="content__descr">Здесь находятся все ваши активные заказы.</p>
									<ul class="content__list">
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/1.png');">
												<span class="content__text">Занятия йогой</span>
											</a>
										</li>
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/2.png');">
												<span class="content__text">Кардио</span>
											</a>
										</li>
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/3.png');">
												<span class="content__text">Силовые тренировки</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="tabs__content" data-tabs-target="archive">
								<div class="content">
									<h2 class="content__title">Добро пожаловать!2</h2>
									<p class="content__descr">Здесь находятся все ваши активные заказы.</p>
									<ul class="content__list">
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/1.png');">
												<span class="content__text">Занятия йогой</span>
											</a>
										</li>
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/2.png');">
												<span class="content__text">Кардио</span>
											</a>
										</li>
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/3.png');">
												<span class="content__text">Силовые тренировки</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="tabs__content" data-tabs-target="settings">
								<div class="content">
									<h2 class="content__title">Добро пожаловать!3</h2>
									<p class="content__descr">Здесь находятся все ваши активные заказы.</p>
									<ul class="content__list">
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/1.png');">
												<span class="content__text">Занятия йогой</span>
											</a>
										</li>
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/2.png');">
												<span class="content__text">Кардио</span>
											</a>
										</li>
										<li class="content__item">
											<a href="#" class="content__link" style="background-image: url('./img/3.png');">
												<span class="content__text">Силовые тренировки</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="program__teachers">
						<h3 class="program__heading">
							Преподаватели
						</h3>

						<ul class="program__list">
							<li class="program__teacher">
								<a class="program__follow" href="#">
									<img class="program__portrait" src="" alt="Фото преподавателя">
									<span class="program__teacher-name">
										Ерзин Иван Васильевич
									</span>
									<span class="program__teacher-status">
										Hектор МАСИ
									</span>
								</a>
							</li>

							<li class="program__teacher">
								<a class="program__follow" href="#">
									<img class="program__portrait" src="" alt="Фото преподавателя">
									<span class="program__teacher-name">
										Ерзин Иван Васильевич
									</span>
									<span class="program__teacher-status">
										Hектор МАСИ
									</span>
								</a>
							</li>
						</ul>

						<button class="program__btn" type="button">
							показать еще
						</button>
					</div>

					<div class="program__structure">
						<div class="program__head">
							<h3 class="program__heading">
								Структура программы обучения
							</h3>

							<button class="program__close" type="button">
								кнопка свернуть/развернуть программу обучения
							</button>
						</div>

						<ul class="program__steps">
							<li class="program__step">
								Теоретический блок
							</li>

							<li class="program__step">
								Творческо-исследовательский блок
							</li>

							<li class="program__step">
								Графический блок
							</li>

							<li class="program__step">
								Технологический блок
							</li>

							<li class="program__step">
								Инженерно-технологический блок
							</li>

							<li class="program__step">
								Биологический блок
							</li>

							<li class="program__step">
								Экономический блок
							</li>

							<li class="program__step">
								Юридический блок
							</li>

							<li class="program__step">
								Практический блок
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>