<section class="resourses">
	<div class="container">
		<div class="resourses__inner">
			<h2 class="resourses__title">
				Cервисы и ресурсы
			</h2>

			<div class="resourses__content">
				<p class="resourses__descr">
					МАСИ предоставляет студентам современные информационные и технические ресурсы, стремясь максимально эффективно
					поддерживать образовательный процесс
				</p>

				<ul class="resourses__list">
					<li class="resourses__item">
						Макетные и <br> дизайн-мастерские
					</li>

					<li class="resourses__item">
						Компьютерные <br> классы
					</li>

					<li class="resourses__item">
						Центр учебных <br> ресурсов
					</li>

					<li class="resourses__item">
						Аудио и видео <br> библиотека
					</li>

					<li class="resourses__item">
						Геодезические <br> мастерские
					</li>

					<li class="resourses__item">
						Фото <br> лаборатории
					</li>

					<li class="resourses__item">
						Семинарные и <br> лекционные залы
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>