<section class="schedule">

	<div class="container">

		<h2 class="schedule__title title">
			<span>График</span> учебного года
		</h2>

		<ul class="schedule__list">
			<li class="schedule__item">
				<span class="schedule__label">
					Базовый курс
				</span>

				<span class="price__total">
					1 год
				</span>

				<span class="schedule__label">
					1 октября – 30 апреля
				</span>
			</li>

			<li class="schedule__item">
				<span class="schedule__label">
					Постдипломные / Краткосрочные курсы
				</span>

				<span class="price__total">
					3 месяца
				</span>

				<span class="schedule__label">
					В период с сентябрь – июль
				</span>
			</li>

			<li class="schedule__item">
				<span class="schedule__label">
					Интенсивы
				</span>

				<span class="schedule__label">
					В период с август – июнь
				</span>
			</li>
		</ul>

	</div>

</section>