<section class="schedule">

	<div class="container">

		<h2 class="schedule__title title">
			<span>График</span> учебного года
		</h2>

		<ul class="schedule__list">
			<li class="schedule__item">
				<span class="schedule__label">
					Базовый курс
				</span>

				<div class="schedule__duration">
					<span class="schedule__total">
						1 год
					</span>

					<span class="schedule__label">
						1 октября – 30 апреля
					</span>
				</div>
			</li>

			<li class="schedule__item">
				<span class="schedule__label">
					Постдипломные / Краткосрочные курсы
				</span>

				<div class="schedule__duration">
					<span class="schedule__total">
						3 месяца
					</span>

					<span class="schedule__label">
						В период с сентябрь – июль
					</span>
				</div>

			</li>

			<li class="schedule__item">
				<span class="schedule__label">
					Интенсивы
				</span>

				<div class="schedule__duration">
					<span class="schedule__label">
						В период с август – июнь
					</span>
				</div>
			</li>
		</ul>

	</div>

</section>