<section class="seminars">
	<div class="container">
		<h2 class="seminars__promo">
			Академия регулярно проводит бесплатные семинары, участие в которых позволит шире взглянуть на уже известные в
			ландшафтной индустрии вопросы, узнать о новшествах и достижениях индустрии и узнать и взаимосвязях ряда проектных
			процессов
		</h2>

		<div class="seminars__content">
			<div class="seminars__action">
				<a class="seminars__follow" href="#">
					Оставить заявку
				</a>
			</div>

			<div class="seminars__schedule">
				<h3 class="seminars__title">Расписание семинаров</h3>

				<ul class="seminars__list">
					<li class="seminars__item">
						<div class="seminars__date">
							<span class="seminars__month">
								16 сентября
							</span>
							<span class="seminars__day">
								Четверг, 18:00
							</span>
							<span class="seminars__time">
								2 часа
							</span>
						</div>

						<div class="seminars__descr">
							Садово-парковое искусство в прошлом и настоящем
						</div>
					</li>

					<li class="seminars__item">
						<div class="seminars__date">
							<span class="seminars__month">
								16 сентября
							</span>
							<span class="seminars__day">
								Четверг, 18:00
							</span>
							<span class="seminars__time">
								2 часа
							</span>
						</div>

						<div class="seminars__descr">
							Садово-парковое искусство в прошлом и настоящем
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>