<section class="statement">
	<div class="statement__info">
		<h2 class="statement__title title">
			Государственная лицензия
		</h2>

		<p class="statement__text statement__text--gray">
			Каждая программа обучения имеет государственную лицензию и соответствует стандартам, предъявляемым к программам
			дополнительного профессионального обучения
		</p>

		<p class="statement__text">
			Каждый курс является авторской программой и защищен законом об авторском
			праве
		</p>
	</div>

	<ul class="statement__docs">
		<li class="document">
			<img class="document__img" src="img/doc-1.jpg" alt="Образец заявления на поступление">

			<span class="document__name">
				Государственная лицензия
			</span>
		</li>

		<li class="document">
			<img class="document__img" src="img/doc-2.jpg" alt="Образец договора на получение образовательных услуг">

			<span class="document__name">
				Закон об авторском праве
			</span>
		</li>
	</ul>

	<div class="formats">
		<span class="formats__title">
			Формы обучения
		</span>
		<p class="formats__subtitle">
			Учитесь, как вам удобно
		</p>

		<ul class="formats__list">
			<li class="formats__item formats__item--day">
				Дневное очное
			</li>
			<li class="formats__item formats__item--evening">
				Вечернее очное
			</li>
			<li class="formats__item formats__item--day-distance">
				Дневное дистанционное
			</li>
			<li class="formats__item formats__item--evening-distance">
				Вечернее дистанционное
			</li>
		</ul>

	</div>
</section>