<section class="structure">
	<div class="structure__runline"></div>
	<div class="container">
		<ul class="structure__list">
			<li class="structure__item">
				Ректорат
			</li>
			<li class="structure__item">
				Деканаты факультетов
			</li>
			<li class="structure__item">
				Отдел высшего педагогического состава
			</li>
			<li class="structure__item">
				Отдел базового педагогического состава
			</li>
			<li class="structure__item">
				Отдел международного сотрудничества
			</li>
			<li class="structure__item">
				Методический отдел
			</li>
			<li class="structure__item">
				Инженерно-технический отдел
			</li>
			<li class="structure__item">
				Административный отдел
			</li>
		</ul>
	</div>
</section>