<section class="structure">

	<div class="structure__runline">
		<span>Структурные подразделения МАЛИСЭП</span>
		<span>Структурные подразделения МАЛИСЭП</span>
		<span>Структурные подразделения МАЛИСЭП</span>
		<span>Структурные подразделения МАЛИСЭП</span>
		<span>Структурные подразделения МАЛИСЭП</span>
		<span>Структурные подразделения МАЛИСЭП</span>
		<span>Структурные подразделения МАЛИСЭП</span>
		<span>Структурные подразделения МАЛИСЭП</span>
	</div>

	<div class="container">
		<ul class="structure__list">
			<li class="structure__item structure__item--one">
				Ректорат
			</li>
			<li class="structure__item structure__item--one">
				Деканаты факультетов
			</li>
			<li class="structure__item">
				Отдел высшего <br> педагогического состава
			</li>
			<li class="structure__item">
				Отдел базового <br> педагогического состава
			</li>
			<li class="structure__item">
				Отдел международного <br> сотрудничества
			</li>
			<li class="structure__item">
				Методический <br> отдел
			</li>
			<li class="structure__item">
				Инженерно-технический <br> отдел
			</li>
			<li class="structure__item">
				Административный <br> отдел
			</li>
		</ul>
	</div>

	<div class="structure__decor">
		<div class="structure__decor-item">decor element</div>
		<div class="structure__decor-item">decor element</div>
		<div class="structure__decor-item">decor element</div>
		<div class="structure__decor-item">decor element</div>
		<div class="structure__decor-item">decor element</div>
	</div>
</section>