<section class="success-history">
	<div class="success-history__info">
		<div class="success-history__title">
			<span>Истории успеха</span> наших выпускников
		</div>

		<p class="success-history__text">
			Выпускники получают дипломы и сертификаты, благодаря которым могут продолжить успешную карьеру в ведущих компаниях
			России и других стран
		</p>

		<div class="button-wrapper">
			<a class="success-history__link button button--follow blob-btn" href="#">
				Смотреть все истории
				<span class="blob-btn__inner">
					<span class="blob-btn__blobs">
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
						<span class="blob-btn__blob"></span>
					</span>
				</span>
			</a>
			<br />
			<svg class="blob-svg" xmlns="http://www.w3.org/2000/svg" version="1.1">
				<defs>
					<filter id="goo">
						<fegaussianblur in="SourceGraphic" result="blur" stddeviation="10"></fegaussianblur>
						<fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo">
						</fecolormatrix>
						<feblend in2="goo" in="SourceGraphic" result="mix"></feblend>
					</filter>
				</defs>
			</svg>
		</div>
	</div>

	<div class="success-slider swiper">
		<ul class="success-slider__wrapper swiper-wrapper">

			<li class="success-slide swiper-slide">
				<a class="success-slide__hover" href="#">
					<div class="success-slide__top">
						<div class="success-slide__avatar-box">
							<img class="success-slide__avatar" src="img/avatar-darina.png" alt="avatar" data-fancybox="test">
						</div>
						<div class="success-slide__info">
							<span class="success-slide__item">
								Дарина Вонголевская
							</span>
							<span class="success-slide__item">
								24 года, Москва
							</span>
						</div>
					</div>

					<p class="success-slide__descr">
						Ну вот он! Я-дизайнер ландшафтного проектирования! Спасибо огромное моим преподавателям [...]
					</p>

					<div class="success-slide__program">
						<span class="success-slide__heading">
							Программа:
						</span>
						«Садовое искусство. Постдипломный курс»
					</div>

					<span class="success-slide__link">
						Смотреть историю
					</span>
				</a>
			</li>

			<li class="success-slide swiper-slide">
				<a class="success-slide__hover" href="#">
					<div class="success-slide__top">
						<div class="success-slide__avatar-box">
							<img class="success-slide__avatar" src="img/avatar-darina.png" alt="avatar" data-fancybox="test">
						</div>
						<div class="success-slide__info">
							<span class="success-slide__item">
								Дарина Вонголевская
							</span>
							<span class="success-slide__item">
								24 года, Москва
							</span>
						</div>
					</div>

					<p class="success-slide__descr">
						Ну вот он! Я-дизайнер ландшафтного проектирования! Спасибо огромное моим преподавателям [...]
					</p>

					<div class="success-slide__program">
						<span class="success-slide__heading">
							Программа:
						</span>
						«Садовое искусство. Постдипломный курс»
					</div>

					<span class="success-slide__link">
						Смотреть историю
					</span>
				</a>
			</li>

			<li class="success-slide swiper-slide">
				<a class="success-slide__hover" href="#">
					<div class="success-slide__top">
						<div class="success-slide__avatar-box">
							<img class="success-slide__avatar" src="img/avatar-darina.png" alt="avatar" data-fancybox="test">
						</div>
						<div class="success-slide__info">
							<span class="success-slide__item">
								Дарина Вонголевская
							</span>
							<span class="success-slide__item">
								24 года, Москва
							</span>
						</div>
					</div>

					<p class="success-slide__descr">
						Ну вот он! Я-дизайнер ландшафтного проектирования! Спасибо огромное моим преподавателям [...]
					</p>

					<div class="success-slide__program">
						<span class="success-slide__heading">
							Программа:
						</span>
						«Садовое искусство. Постдипломный курс»
					</div>

					<span class="success-slide__link">
						Смотреть историю
					</span>
				</a>
			</li>

			<li class="success-slide swiper-slide">
				<a class="success-slide__hover" href="#">
					<div class="success-slide__top">
						<div class="success-slide__avatar-box">
							<img class="success-slide__avatar" src="img/avatar-darina.png" alt="avatar" data-fancybox="test">
						</div>
						<div class="success-slide__info">
							<span class="success-slide__item">
								Дарина Вонголевская
							</span>
							<span class="success-slide__item">
								24 года, Москва
							</span>
						</div>
					</div>

					<p class="success-slide__descr">
						Ну вот он! Я-дизайнер ландшафтного проектирования! Спасибо огромное моим преподавателям [...]
					</p>

					<div class="success-slide__program">
						<span class="success-slide__heading">
							Программа:
						</span>
						«Садовое искусство. Постдипломный курс»
					</div>

					<span class="success-slide__link">
						Смотреть историю
					</span>
				</a>
			</li>

			<li class="success-slide swiper-slide">
				<a class="success-slide__hover" href="#">
					<div class="success-slide__top">
						<div class="success-slide__avatar-box">
							<img class="success-slide__avatar" src="img/avatar-darina.png" alt="avatar" data-fancybox="test">
						</div>
						<div class="success-slide__info">
							<span class="success-slide__item">
								Дарина Вонголевская
							</span>
							<span class="success-slide__item">
								24 года, Москва
							</span>
						</div>
					</div>

					<p class="success-slide__descr">
						Ну вот он! Я-дизайнер ландшафтного проектирования! Спасибо огромное моим преподавателям [...]
					</p>

					<div class="success-slide__program">
						<span class="success-slide__heading">
							Программа:
						</span>
						«Садовое искусство. Постдипломный курс»
					</div>

					<span class="success-slide__link">
						Смотреть историю
					</span>
				</a>
			</li>

			<li class="success-slide swiper-slide">
				<a class="success-slide__hover" href="#">
					<div class="success-slide__top">
						<div class="success-slide__avatar-box">
							<img class="success-slide__avatar" src="img/avatar-darina.png" alt="avatar" data-fancybox="test">
						</div>
						<div class="success-slide__info">
							<span class="success-slide__item">
								Дарина Вонголевская
							</span>
							<span class="success-slide__item">
								24 года, Москва
							</span>
						</div>
					</div>

					<p class="success-slide__descr">
						Ну вот он! Я-дизайнер ландшафтного проектирования! Спасибо огромное моим преподавателям [...]
					</p>

					<div class="success-slide__program">
						<span class="success-slide__heading">
							Программа:
						</span>
						«Садовое искусство. Постдипломный курс»
					</div>

					<span class="success-slide__link">
						Смотреть историю
					</span>
				</a>
			</li>

		</ul>

		<div class="success-slide__prev slider-prev"></div>
		<div class="success-slide__next slider-next"></div>
	</div>
</section>