<section class="success-history">
	<div class="success-history__info">
		<div class="success-history__title">
			<span>Истории успеха</span> наших выпускников
		</div>

		<p class="success-history__text">
			Выпускники получают дипломы и сертификаты, благодаря которым могут продолжить успешную карьеру в ведущих компаниях
			России и других стран
		</p>

		<a class="success-history__link" href="#">
			Смотреть все истории
		</a>
	</div>

	<div class="success-slider">
		<div class="success-slider__wrapper">

			<div class="success-slide">
				<div class="success-slide__top">
					<img class="success-slide__avatar" src="img/avatar-darina.jpg" alt="avatar">
					<span class="success-slide__name">
						Дарина Вонголевская 24 года, Москва
					</span>
				</div>

				<p class="success-slide__descr">
					Ну вот он! Я-дизайнер ландшафтного проектирования! Спасибо огромное моим преподавателям [...]
				</p>

				<div class="success-slide__program">
					<span class="success-slide__heading">
						Программа:
					</span>
					«Садовое искусство. Постдипломный курс»
				</div>

				<a class="success-slide__link" href="#">
					Смотреть историю
				</a>
			</div>

		</div>
	</div>
</section>