<section class="success">
	<div class="container">
		<div class="success__top">
			<h1 class="success__title">
				<span>Истории успеха</span>
				выпускников
			</h1>

			<p class="success__descr">
				Выпускники получают дипломы и сертификаты, благодаря которым могут продолжить успешную карьеру в ведущих
				компаниях
				России и других стран
			</p>

		</div>

		<ul class="success__list">
			<li class="success__one">
				<div class="success__head">
					<img class="success__avatar" src="img/avatar-darina.jpg" alt="avatar darina">
					<div class="success__resume">
						<span class="success__name">Дарина Вонголевская</span>
						<span class="success__age">24 года, Москва</span>
					</div>
				</div>

				<div class="success__body">
					<div class="success__excerpt">
						С искусством ландшафтной архитектуры я начала знакомиться в университете. Мне близка идея создания
						пространства на [...]
					</div>
					<div class="success__full">
						(Пример отзыва) Очень давно мечтала обучиться дизайну, хотелось себя в этом попробовать. Когда все-таки
						решилась,
						пересмотрела кучу вариантов дистанционного обучения (поскольку очное не могу себе позволить), перечитала
						кучу отзывов и
						в итоге остановилась на Penta School, поскольку для меня оптимально сошлись цена, время обучения и
						содержание курса. С
						первых занятий меня затянуло с головой! И материал, и подача мне пришлись по душе. Боялась, что что-то не
						получится, но
						в итоге оказалось не так страшно :) Преподаватели дружелюбные, всегда на связи. В процессе обучения у меня
						произошли
						некоторые изменения жизненные, и изначально запланированного времени на обучение у меня практически не
						осталось. Но, к
						счастью, и чему я безмерно благодарна, мне пошли на встречу и продлили обучение и даже не раз, благодаря
						чему я
						смогла-таки пройти курс до конца! Честно сказать, даже грустно, что все закончилось. Мне очень понравился
						преподавательский коллектив и само обучение, буду скучать! Возможно, чуть позже, как будет больше времени,
						запишусь еще
						на какой-нибудь более узконаправленный курс. В общем мне все понравилось, по курсу «Дизайн интерьера.
						Профессиональный
						курс» узнала много нового, создала проект для своей дачи :) Теперь будем воплощать в жизнь :) Спасибо! P.S.
						нужны будут
						стажеры для работы, буду вам рада :)
					</div>
					<button class="success__open" type="button">
						смотреть полностью
					</button>
					<button class="success__close" type="button">
						Скрыть
					</button>
				</div>

				<div class="success__portfolio">
					<span class="success__heading">Примеры работ:</span>

					<div class="success__slider">
						<div class="success__slider-wrapper">
							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-1.jpg" alt="slider image">
							</div>

							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-3.jpg" alt="slider image">
							</div>

							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-2.jpg" alt="slider image">
							</div>

							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-1.jpg" alt="slider image">
							</div>
						</div>
					</div>

				</div>

				<ul class="success__current">
					<li class="success__experiense">
						Программа:
						<span>«Садовое искусство. Постдипломный курс»</span>
					</li>

					<li class="success__experiense">
						Место работы:
						<span>Название и тд</span>
					</li>
				</ul>
			</li>

			<li class="success__one">
				<div class="success__head">
					<img class="success__avatar" src="img/avatar-darina.jpg" alt="avatar darina">
					<div class="success__resume">
						<span class="success__name">Дарина Вонголевская</span>
						<span class="success__age">24 года, Москва</span>
					</div>
				</div>

				<div class="success__body">
					<div class="success__excerpt">
						С искусством ландшафтной архитектуры я начала знакомиться в университете. Мне близка идея создания
						пространства на [...]
					</div>
					<div class="success__full">
						(Пример отзыва) Очень давно мечтала обучиться дизайну, хотелось себя в этом попробовать. Когда все-таки
						решилась,
						пересмотрела кучу вариантов дистанционного обучения (поскольку очное не могу себе позволить), перечитала
						кучу отзывов и
						в итоге остановилась на Penta School, поскольку для меня оптимально сошлись цена, время обучения и
						содержание курса. С
						первых занятий меня затянуло с головой! И материал, и подача мне пришлись по душе. Боялась, что что-то не
						получится, но
						в итоге оказалось не так страшно :) Преподаватели дружелюбные, всегда на связи. В процессе обучения у меня
						произошли
						некоторые изменения жизненные, и изначально запланированного времени на обучение у меня практически не
						осталось. Но, к
						счастью, и чему я безмерно благодарна, мне пошли на встречу и продлили обучение и даже не раз, благодаря
						чему я
						смогла-таки пройти курс до конца! Честно сказать, даже грустно, что все закончилось. Мне очень понравился
						преподавательский коллектив и само обучение, буду скучать! Возможно, чуть позже, как будет больше времени,
						запишусь еще
						на какой-нибудь более узконаправленный курс. В общем мне все понравилось, по курсу «Дизайн интерьера.
						Профессиональный
						курс» узнала много нового, создала проект для своей дачи :) Теперь будем воплощать в жизнь :) Спасибо! P.S.
						нужны будут
						стажеры для работы, буду вам рада :)
					</div>
					<button class="success__open" type="button">
						смотреть полностью
					</button>
					<button class="success__close" type="button">
						Скрыть
					</button>
				</div>

				<div class="success__portfolio">
					<span class="success__heading">Примеры работ:</span>

					<div class="success__slider">
						<div class="success__slider-wrapper">
							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-1.jpg" alt="slider image">
							</div>

							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-3.jpg" alt="slider image">
							</div>

							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-2.jpg" alt="slider image">
							</div>

							<div class="success__slider-item">
								<img class="success__slider-img" src="img/project-1.jpg" alt="slider image">
							</div>
						</div>
					</div>

				</div>

				<ul class="success__current">
					<li class="success__experiense">
						Программа:
						<span>«Садовое искусство. Постдипломный курс»</span>
					</li>

					<li class="success__experiense">
						Место работы:
						<span>Название и тд</span>
					</li>
				</ul>
			</li>
		</ul>

		<button class="success__btn" type="button">показать еще отзывы</button>
	</div>
</section>