<section class="teachers-main">
	<div class="teachers-main__info">
		<h2 class="teachers-main__title">
			<span>Преподаватели нашей академии</span>, кто будет обучать вас
		</h2>

		<p class="teachers-main__total">Всего у нас в команде XX преподавателей</p>

		<div class="teachers-main__slider-nav">
			<div class="teachers-main__slider-prev slider-prev"></div>
			<div class="teachers-main__slider-counter slider-counter"></div>
			<div class="teachers-main__slider-next slider-next"></div>
		</div>
	</div>

	<div class="teachers-slider swiper">
		<ul class="teachers-slider__wrapper swiper-wrapper">

			<li class="teachers-slide swiper-slide">
				<a class="teachers-slide__hover" href="#">
					<img class="teachers-slide__img" src="img/teachers/teacher-2.jpg" alt="Фото Ерзин Иван Васильевич">

					<span class="teachers-slide__name">Ерзин Иван Васильевич</span>

					<p class="teachers-slide__position">
						Ректор МАСИ
					</p>
				</a>
			</li>

			<li class="teachers-slide swiper-slide">
				<a class="teachers-slide__hover" href="#">
					<img class="teachers-slide__img" src="img/teachers/teacher-1.jpg" alt="Фото Ерзин Иван Васильевич">

					<span class="teachers-slide__name">Ерзин Иван Васильевич</span>

					<p class="teachers-slide__position">
						Идейный вдохновитель, руководитель международного направления МАСИ
					</p>
				</a>
			</li>

			<li class="teachers-slide swiper-slide">
				<a class="teachers-slide__hover" href="#">
					<img class="teachers-slide__img" src="img/teachers/teacher-3.jpg" alt="Фото Ерзин Иван Васильевич">

					<span class="teachers-slide__name">Ерзин Иван Васильевич</span>

					<p class="teachers-slide__position">
						Ректор МАСИ
					</p>
				</a>
			</li>

			<li class="teachers-slide swiper-slide">
				<a class="teachers-slide__hover" href="#">
					<img class="teachers-slide__img" src="img/teachers/teacher-1.jpg" alt="Фото Ерзин Иван Васильевич">

					<span class="teachers-slide__name">Ерзин Иван Васильевич</span>

					<p class="teachers-slide__position">
						Ректор МАСИ
					</p>
				</a>
			</li>

			<li class="teachers-slide swiper-slide">
				<a class="teachers-slide__hover" href="#">
					<img class="teachers-slide__img" src="img/teachers/teacher-2.jpg" alt="Фото Ерзин Иван Васильевич">

					<span class="teachers-slide__name">Ерзин Иван Васильевич</span>

					<p class="teachers-slide__position">
						Ректор МАСИ
					</p>
				</a>
			</li>

			<li class="teachers-slide swiper-slide">
				<a class="teachers-slide__hover" href="#">
					<img class="teachers-slide__img" src="img/teachers/teacher-3.jpg" alt="Фото Ерзин Иван Васильевич">

					<span class="teachers-slide__name">Ерзин Иван Васильевич</span>

					<p class="teachers-slide__position">
						Ректор МАСИ
					</p>
				</a>
			</li>

		</ul>
	</div>
</section>