<section class="teachers">
	<div class="container">

		<div class="teachers__inner">
			<h1 class="teachers__title title">
				<span>Преподаватели нашей академии</span>
				, кто будет обучать вас
			</h1>

			<div class="managment">
				<p class="teachers__descr">
					Учредители Международной Академии Ландшафтного Искусства, Социокультурного и Экосистемного Проектирования
				</p>

				<ul class="managment__list">
					<li class="managment__item">
						<a class="managment__link" href="#">
							<img class="managment__img" src="img/manegment-1.jpg" alt="image">
							<span class="managment__name">
								Ерзин Иван Васильевич
							</span>

							<span class="managment__status">
								Ректор МАСИ
							</span>
						</a>
					</li>

					<li class="managment__item">
						<a class="managment__link" href="#">
							<img class="managment__img" src="img/manegment-2.jpg" alt="image">
							<span class="managment__name">
								Джелемей Ольга Сергеевна
							</span>

							<span class="managment__status">
								Идейный вдохновитель, руководитель международного направления МАСИ
							</span>
						</a>
					</li>
				</ul>
			</div>

			<ul class="teachers__list">
				<li class="teachers__item">
					<a class="teachers__link" href="#">
						<img class="teachers__img" src="img/manegment-2.jpg" alt="image">
						<span class="teachers__name">
							Ерзин Иван Васильевич
						</span>

						<span class="teachers__status">
							Ректор МАСИ
						</span>
					</a>
				</li>

				<li class="teachers__item">
					<a class="teachers__link" href="#">
						<img class="teachers__img" src="img/manegment-2.jpg" alt="image">
						<span class="teachers__name">
							Ерзин Иван Васильевич
						</span>

						<span class="teachers__status">
							Ректор МАСИ
						</span>
					</a>
				</li>

				<li class="teachers__item">
					<a class="teachers__link" href="#">
						<img class="teachers__img" src="img/manegment-2.jpg" alt="image">
						<span class="teachers__name">
							Ерзин Иван Васильевич
						</span>

						<span class="teachers__status">
							Ректор МАСИ
						</span>
					</a>
				</li>

				<li class="teachers__item">
					<a class="teachers__link" href="#">
						<img class="teachers__img" src="img/manegment-2.jpg" alt="image">
						<span class="teachers__name">
							Ерзин Иван Васильевич
						</span>

						<span class="teachers__status">
							Ректор МАСИ
						</span>
					</a>
				</li>
			</ul>

		</div>

	</div>
</section>