<section class="teachers-main">
	<div class="teachers-main__info">
		<h2 class="teachers-main__title">
			<span>Преподаватели нашей академии</span>, кто будет обучать вас
		</h2>

		<p class="teachers-main__total">Всего у нас в команде XX преподавателей</p>

		<div class="teachers-main__slider-nav">

		</div>
	</div>

	<div class="teachers-slider">
		<div class="teachers-slider__wrapper">
			<div class="teachers-slide">
				<img class="teachers-slide__img" src="img/" alt="Фото Ерзин Иван Васильевич">

				<span class="teachers-slide__name">Ерзин Иван Васильевич</span>

				<p class="teachers-slide__position">
					Ректор МАСИ
				</p>
			</div>
		</div>
	</div>
</section>