<section class="teacher-one">
	<div class="container">

		<span class="teacher-one__suptitle">Преподаватели нашей академии, кто будет обучать вас</span>

		<h1 class="teacher-one__title">
			Знакомьтесь, <span>Ерзин Иван Васильевич</span>
		</h1>

		<div class="teacher-one__main">
			<span class="teacher-one__status">Ректор МАСИ</span>

			<div class="teacher-one__content">
				<div class="teacher-one__info">
					<ul class="teacher-one__list">
						<li class="teacher-one__item">
							Ученая степень:
							<span>кандидат биологических наук</span>
						</li>

						<li class="teacher-one__item">
							Ученое звание:
							<span>доцент</span>
						</li>

						<li class="teacher-one__item">
							Стаж педагогической работы:
							<span>с 2006 г</span>
						</li>

						<li class="teacher-one__item">
							Наименование направления подготовки:
							<span>
								ректор Международной Академии Садового Искусства, ландшафтный архитектор, инженер
								садово-паркового и ландшафтного строительства, педагог
							</span>
						</li>
					</ul>

					<div class="teacher-one__navigation">
						<div class="nav-arrows"></div>

						<a class="teacher-one__next" href="#">
							Следующий преподаватель
						</a>
					</div>
				</div>

				<img class="teacher-one__img" src="img/manegment-1.jpg" alt="Ерзин Иван Васильевич">
			</div>

		</div>

	</div>
</section>