<section class="works">
	<h2 class="works__title title">
		<span>Примеры работ</span>
		наших выпускников
	</h2>

	<div class="works-slider swiper">
		<ul class="works-slider__wrapper swiper-wrapper">

			<li class="works-slide swiper-slide">
				<span class="works-slide__name">Назавание</span>
				<div class="works-slide__img-box">
					<img class="works-slide__img" src="img/project-1.jpg" alt="project name" data-fancybox="works-slide">
				</div>
			</li>

			<li class="works-slide swiper-slide">
				<span class="works-slide__name">Назавание</span>
				<div class="works-slide__img-box">
					<img class="works-slide__img" src="img/project-2.jpg" alt="project name" data-fancybox="works-slide">
				</div>
			</li>

			<li class="works-slide swiper-slide">
				<span class="works-slide__name">Назавание</span>
				<div class="works-slide__img-box">
					<img class="works-slide__img" src="img/project-3.jpg" alt="project name" data-fancybox="works-slide">
				</div>
			</li>


			<li class="works-slide swiper-slide">
				<span class="works-slide__name">Назавание</span>
				<div class="works-slide__img-box">
					<img class="works-slide__img" src="img/project-4.jpg" alt="project name" data-fancybox="works-slide">
				</div>
			</li>


			<li class="works-slide swiper-slide">
				<span class="works-slide__name">Назавание</span>
				<div class="works-slide__img-box">
					<img class="works-slide__img" src="img/project-1.jpg" alt="project name" data-fancybox="works-slide">
				</div>
			</li>


			<li class="works-slide swiper-slide">
				<span class="works-slide__name">Назавание</span>
				<div class="works-slide__img-box">
					<img class="works-slide__img" src="img/project-1.jpg" alt="project name" data-fancybox="works-slide">
				</div>
			</li>


			<li class="works-slide swiper-slide">
				<span class="works-slide__name">Назавание</span>
				<div class="works-slide__img-box">
					<img class="works-slide__img" src="img/project-1.jpg" alt="project name" data-fancybox="works-slide">
				</div>
			</li>

		</ul>

		<div class="works-slide__navigation">

			<ul class="works-slide__bullets">
				<li class="works-slide__bullet active" data-index="0"></li>
				<li class="works-slide__bullet" data-index="1"></li>
				<li class="works-slide__bullet" data-index="2"></li>
				<li class="works-slide__bullet" data-index="3"></li>
				<li class="works-slide__bullet" data-index="4"></li>
			</ul>

			<div class="works-slide__arrows">
				<div class="works-slide__prev"></div>
				<div class="works-slide__counter"></div>
				<div class="works-slide__next"></div>
			</div>

		</div>




	</div>

</section>