.login {
    position: relative;
    margin-left: auto;
    padding-left: 3.75rem;
    font-size: 14px;
    @extend %gilroy-600;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        z-index: 1;
        left: 0;
        width: 50px;
        height: 50px;
        border: 1px solid #dadde0;
        border-radius: 90px;
        background-image: url('../img/star.svg');
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 0.3s ease;
    }

    &:hover {
        color: #434343;
        &::before {
            background-color: #8bc540;
            border-color: transparent;
            background-image: url('../img/door.svg');
        }
    }
}
