.statement {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;

    @include _979 {
        padding: 60px 0 90px;
        flex-direction: column;
    }

    &--study {
        @include _1024 {
            .statement__inner {
                flex-direction: column;
            }
        }

        .statement__info {
            max-width: 345px;
            width: 100%;

            @include _1024 {
                margin-right: 0;
                margin-bottom: 70px;
            }

            @include _630 {
                margin-bottom: 40px;
                max-width: 100%;
                display: block;
            }
        }

        .statement__title {
            margin-bottom: 40px;
        }

        .statement__text {
            font-size: 18px;
            @extend %gilroy-600;

            @include _768 {
                font-size: 16px;
            }

            &--grey {
                margin-bottom: 35px;
                font-size: 14px;
                color: $grey;
                @extend %gilroy-500;
            }
        }

        .statement__docs {
            @include _1024 {
                margin-right: 0;
                margin-bottom: 50px;
            }
        }

        .document__img {
            margin-bottom: 10px;

            @include _414 {
                height: auto;
            }
        }

        .document__name {
            margin-bottom: 0;
        }
    }
}

.statement__inner {
    display: flex;
    justify-content: space-between;
}

.statement__info {
    margin-right: 30px;
    @extend %gilroy-600;

    @include _979 {
        margin-right: 0;
        margin-bottom: 70px;
    }

    @include _630 {
        display: flex;
        align-items: center;
    }

    @include _414 {
        flex-direction: column;
        align-items: flex-start;
    }
}

.statement__title {
    margin-bottom: 70px;
    max-width: 250px;
    font-size: 24px;

    @include _979 {
        margin-bottom: 35px;
    }

    @include _630 {
        margin-bottom: 0;
    }

    @include _414 {
        margin-bottom: 30px;
    }
}

.statement__link {
    display: block;
    max-width: 200px;
    background-image: url('../img/follow-black.svg');

    &::after {
        display: none;
    }
}

.statement__docs {
    margin-right: 30px;
    display: flex;

    @include _979 {
        margin-right: 0;
        margin-bottom: 50px;
    }

    @include _630 {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}
